---
layout: cat-homepageTEMPLATE-summary
title: Categories
permalink: /categories/
---

<section id="categories" class="homeBody-section flex1 order-lg-1">
	<div class="visible-titles hover bg-image collapsible container-fluid-inner">
		<h4 class="container-fluid-inner caretText">Latest Archives</h4>
		<i class="caret fas fa-solid fa-caret-right"></i>
	</div>
	<aside class="col-lg-3 order-lg-2 content">
		<div class="sidebar container-fluid-inner homeResources-grid-containter">
			<div class="sidebar-wrapper">
				<div class="sidebar-wrapper-header">
					<h3 class="titles" title="Click me for all Links in Archive">
						{% for post in site.posts %}{% if post.title contains "Archive" %}
						<a href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">
							<span>Archives</span>
						</a>{% endif %}{% endfor %}
					</h3>
				</div>
				{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'" | slice:0, 1	%}
				{% for yearMonth in postsByYearMonth %}
				<h4 class="titles">{{ yearMonth.name }}</h4>
				<ul class="recentposts">
					{% for post in yearMonth.items %}
					<li>
						<a class="link" href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">{{	post.title }}
							<br>
							<small class="archive-date">{{ post.date | date: "%a, %b %d, %y." }}</small>
						</a>
					</li>
					{% endfor %}
				</ul>
				{% endfor %}
				<small title="Click me for all Links in Archive">
					{% for post in site.posts %}{% if post.title contains "Archive" %}
					<a class="titles-links" href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">
						<span>More archives</span>
					</a>{% endif %}{% endfor %}
				</small>
				<div class="sidebar-wrapper-header">
					<h4 class="titles" title="Click me for all Links in Categories">
						{% for post in site.posts %}{% if post.title contains "Categories" %}
						<a href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">
							<span>Categories</span>
						</a>{% endif %}{% endfor %}
					</h4>
				</div>
				<ul class="recentposts">
					{% assign counter = '0' %}
					{% for category in site.categories %}
					{% capture category_name %}{{ category | first | prepend: 'HomePage-' }}{% endcapture %}
					{% assign sumcaty = category_name %}
					{% for post in site.posts %}
					{% if post.categories contains sumcaty and counter < '6' %}
					 {% capture counter %}{{ counter | plus:'1' }}{% endcapture %}
					<li>
						<a class="link" href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">
							{{ post.title }}
						</a>
					</li>
					{% endif %}{% endfor %}
					{% endfor %}
				</ul>
				<small title="Click me for all Links in Categories">
					{% for post in site.posts %}{% if post.title contains "Categories" %}
					<a class="titles-links" href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">
						<span>More categories</span>
					</a>{% endif %}{% endfor %}
				</small>
			</div>
		</div>
	</aside>
	<div id="categories" class="col-lg-6 container-fluid-inner">
		<div class="titles-inner">
			<h1 class="titles">{{ page.title }}</h1>
			<p>Categories, all in one place.</p>
		</div>
		{% for tag in site.tags %}
			{% capture tag_name %}{{ tag | first }}{% endcapture %}
			<div class="homeResources-grid-containter">
				<h4 class="titles">{{ tag_name }}</h4>
				<ol>
					{% for post in site.tags[tag_name] %}
					<li class="all-links">
						<a href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">{{post.title}}</a>
						&nbsp; <span class="archive-date-summary">{{ post.date | date: "%a, %b %d, %y" }}.</span>
					</li>
					{% endfor %}
				</ol>
			</div>
		{% endfor %}
	</div>
</section>