---
layout: cat-homepageTEMPLATE-summary
title: "Acts"
permalink: /Acts/
categories: ["HomePage-Book-of-Acts"]
---
<style>
	div>ol {
		column-gap: 3em;
    	column-width: 15em;
    	padding-left: 1.5em;
		margin: 0;
	}
</style>
<div id="categories" class="homeBody-section container-fluid-inner">
	<div class="titles-inner">
		<h1 class="titles">{{ page.title }}</h1>
		<p>A collection of our Teaching Summaries for the Book of Acts.</p>
	</div>
	<div class="homeResources-grid-containter">
		<ol>
			{% for post in site.categories.Book-of-Acts %}
			<li class="all-links">
				<a href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">{{ post.title }}</a> &nbsp; <span class="archive-date-summary">{{ post.date | date: "%a, %b %d, %y" }}.</span>
			</li>
			{% endfor %}
		</ol>
	</div>
</div>