---
layout: cat-homepageTEMPLATE-summary
title: "Zechariah"
permalink: /Zechariah/
categories: ["HomePage-Zechariah"]
---

<div id="categories" class="homeBody-section container-fluid-inner">
	<div class="titles-inner">
		<h1 class="titles">{{ page.title }}</h1>
		<p>A collection of our Teaching Summaries for the Book of Zechariah.</p>
	</div>
	<div class="homeResources-grid-containter">
		<ol>
			{% for post in site.categories.Zechariah %}
			<li class="all-links">
				<a href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">{{ post.title }}</a> &nbsp; <small class="archive-date-summary">{{ post.date | date: "%a, %b %d, %y" }}.</small>
			</li>
			{% endfor %}
		</ol>
	</div>
</div>