---
layout: cat-homepageTEMPLATE-summary
title: "Faith"
categories: ["HomePage-Faith"]
---
<style>
	div>ol {
		list-style-type: upper-alpha;
		padding-left: 1.5em;
	}

	div>ol>ol {
		padding-left: 20px;
		padding-top: 10px;
		column-gap: 4em;
		column-width: 24em;
	}
</style>
<div class="homeBody-section container-fluid-inner">
	<h1 class="titles">{{ page.title }}</h1>
	<p>A collection of our Teaching Summaries Faith.</p>
	<ol>
		<!-- <li>
			<h4>April</h4>
		</li> -->
		<ol id="nav">
			{% for post in site.categories.Faith %}
			<li>
				<a href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">{{ post.title }}</a> &nbsp; <span class="archive-date-summary">{{ post.date | date: "%a, %b %d, %y" }}.</span>
			</li>
				{% endfor %}
		</ol>
	</ol>
</div>
{% include contact-section.html %}
<script type="text/javascript" src="/script/victorScripts/dropDownMenu.js"></script>
<script type="text/javascript" src="/script/victorScripts/recentposts.js"></script>