---
layout: homeTEMPLATE
title: "Doctrines"
categories: [""]
---

<section id="Doctrines-section">
<div class="homeBody-section flex">
    <div class="visible-titles bg-image collapsible">
		<h4 class="container-fluid-inner caretText">Latest Posts</h4>
		<span class="container-fluid-inner caret"></span>
	</div>
    {% include sideBar.html %}
    <div class="col-lg-6">
        <div class="container-fluid-inner">
    <header>
        <h1 class="titles">LightCity Doctrines</h1>
        <h3 class="titles">Here is a list of Doctrines we treated thus far.</h3>
    </header>
<h3 class="titles">Instruction</h3>
<ol>
    <li>Obedience</li>
    <li>Consecration</li>
    <li><a href="/General%20Resources/Head%20Covering.html">Head Covering</a></li>
    <li>Church Conduct</li>
    <li>Spiritual Language</li>
    <li>Studying Scriptures</li>
    <li>The Pursuit of Truth</li>
    <li>Sin and the Kingdom of God</li>
    <li>Women through the Eyes of God</li>
    <li>It is the Glory of God to Conceal a Matter</li>
</ol>
<h3 class="titles">Book/Chapter Studies</h3>
<ol>
    <li>Isaiah 40</li>
    <li>The 70 7s of Daniel Chapter 9</li>
    <li>The Gospel According to Stephen</li>
</ol>
<h3 class="titles">The Supernatural/Miraculous</h3>
<ol>
    <li>The Children&rsquo;s Bread</li>
    <li>Lifting of Hands and Power Transfer</li>
</ol>
<h3 class="titles">The Christian Response to Worldly Events</h3>
<ol>
    <li>The Truth about the One-World Government</li>
    <li>The Christian Response to the #EndSARS Protest</li>
</ol>
<h3 class="titles">Jesus</h3>
<ol>
    <li>The Law of Christ</li>
    <li>Jesus as the Christ</li>
    <li>The Deity of Christ</li>
    <li>Jesus the Lampstand</li>
    <li>Jesus Fulfils the Law of Moses</li>
    <li>When Jesus Became God&rsquo;s Son</li>
</ol>
<h3 class="titles">Meaning of Biblical Expressions</h3>
<ol>
    <li>Hayah Asher Hayah</li>
    <li>Moses&rsquo; Inability to Speak</li>
    <li>I Desire Mercy and Not Sacrifice</li>
</ol>
<h3 class="titles">Spiritual Concepts</h3>
<ol>
    <li><a href="/Parables/Home-Parables.html">Parables</a></li>
    <li>Salvation</li>
    <li>Prophecy</li>
    <li>Shaping Reality</li>
    <li>Spiritual Hierarchy</li>
    <li>Division of Nations</li>
    <li>The Sure Mercies of David</li>
    <li>The Resurrection/Immortality</li>
</ol>
<h3 class="titles"><a href="/The%20LAW/Home-TheLAW.html">The Law of Moses</a></h3>
<ol>
    <li>The Priesthood of Israel</li>
    <li>The Law of the Sabbath</li>
</ol>
<h3 class="titles">Angels and Supernatural Beings</h3>
<ol>
    <li><a href="/AngelOfTheLord/A0-Home-AngelOfYahweh.html">The Angel of Yahweh</a></li>
</ol>
<h3 class="titles">Biblical Events and Places</h3>
<ol>
    <li>Eden</li>
    <li>Fall of Satan</li>
    <li><a href="/General%20Resources/LastDays%20Template.html">The Last Days</a></li>
</ol>
<h3 class="titles">Biblical Questions</h3>
<ol>
    <li>Is Swearing a Sin</li>
    <li>Why did God try to Kill Moses?</li>
</ol>
</div>
</div>
</div>
</section>
{% include contact-section.html %}
<script type="text/javascript" src="script/victor'sScripts/recentposts.js"></script>
<script type="text/javascript" src="script/victor'sScripts/dropDownMenu.js"></script>