---
layout: homeTEMPLATE
title: "Bible Quiz"
categories: [""]
---

<style>
#mobileHeader, #desktopHeader, footer {
display: none!important;
}
#headerbar, #confirmButton{
    display: none;
}

@media only screen and (min-width: 590px){ 
#cat-headerbar {
    display: block;
    overflow: auto;
}}
.container-fluid-inner {
    margin: 0 16px 0!important;
}
@media only screen and (max-width: 821px){ 
.homeHeaderNav {
display: flex;
position: relative;
overflow: visible;
font-size: 1.3em;
}
.homeHeaderNav .churchLOGO {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 10px 10px 0;
}
.headerUL {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}}
.header-links-li>a {
    font-size: 90%!important;
    padding: 15px 10px;
}
</style>

<div id="cat-headerbar" class="Result-BoardHeader bg-color bg-image">
    <nav class="homeHeaderNav align-items container-fluid-inner">
        <div class="churchLOGO">
            {% for page in site.pages %}{% if page.title contains "LightCity Teaching Fellowship" %}
            <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                <img class="churchLOGO-img" src="images/LightCityLOGO.jpg" height=" 40" alt="lightcity-LOGO">
            </a>{% endif %}{% endfor %}
        </div>
        <div class="headerUL">
            <ul class="header-links">
                <li class="header-links-li transition">
                    {% for page in site.pages %}{% if page.title contains "LightCity Teaching Fellowship" %}
                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                        <span>Home</span>
                    </a>{% endif %}{% endfor %}
                </li>
                <li class="header-links-li transition">
                    {% for page in site.pages %}{% if page.title contains "About Us" %}
                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                        <span>About</span>
                    </a>{% endif %}{% endfor %}
                </li>
            </ul>
        </div>
    </nav>
</div>
<section id="bibleQuiz-section">
    <div class="homeBody-section">
        <h1 class="titles">BIBLE QUIZ</h1>
        <h5>TEST YOUR KNOWLEDGE ON:</h5>
        {% include QandA-Categories.html %}
    </div>
</section>
{% include contact-section.html %}
<script type="text/javascript" src="script/victorScripts/recentposts.js"></script>
<script type="text/javascript" src="script/victorScripts/dropDownMenu.js"></script>