--- 
layout: homeTEMPLATE 
title: "Study Resources" 
categories: [""] 
---

<style>
    ol {
        column-gap: 2em;
        column-width: 12em;
        padding-left: 1.5em;
        margin: 0;
        padding-bottom: 1em;
    }
</style>
<section id="MAINResources-section" class="container-fluid">
    <div class="homeBody-section">
        <h1 class="titles">LightCity Teaching Resources</h1>
        <h2 class="titles">Angel of Yahweh</h2>
        <p>A collection of our Study on the Angel of Yahweh.</p>
        <ol>
            {% for page in site.pages %}{% if page.categories contains "Angel of Yahweh" %}
            <li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
            {% endif %}{% endfor %}
        </ol>

        <h2 class="titles">Bible TimeLines</h2>
        <p>A collection of Bible Timelines.</p>

        <ol>
            {% for page in site.pages %}{% if page.categories contains "Timeline" %}
            <li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
            {% endif %}{% endfor %}
        </ol>

        <h2 class="titles">Bible Commentaries</h2>
        <p>A collection of Useful Resources on Bible Commentaries.</p>

        <ol>
            {% for page in site.pages %}{% if page.categories contains "Bible Commentaries" %}
            <li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
            {% endif %}{% endfor %}
        </ol>

        <h2 class="titles">General Resources</h2>
        <p>A collection of Useful Resources.</p>

        <ol>
            {% for page in site.pages %}{% if page.categories contains "General Resources" %}
            <li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
            {% endif %}{% endfor %}
        </ol>

        <h2 class="titles">Jesus</h2>
        <p>A collection of Useful Resources on Jesus.</p>

        <ol>
            {% for page in site.pages %}{% if page.categories contains "Jesus" %}
            <li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
            {% endif %}{% endfor %}
        </ol>

        <h2 class="titles">The Two Falls of Man</h2>
        <p>A collection of Useful Resources on the Falls of Man.</p>

        <ol>
            {% for page in site.pages %}{% if page.categories contains "Fall of Man" %}
            <li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
            {% endif %}{% endfor %}
        </ol>

        <h2 class="titles">The LAW</h2>
        <p>A collection of Useful Resources on the LAW.</p>

        <ol>
            {% for page in site.pages %}{% if page.categories contains "The LAW" %}
            <li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
            {% endif %}{% endfor %}
        </ol>

        <h2 class="titles">Parables</h2>
        <p>A collection of Useful Resources on Parables.</p>

        <ol>
            {% for page in site.pages %}{% if page.categories contains "Parables" %}
            <li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
            {% endif %}{% endfor %}
        </ol>
    </div>
</section>
{% include contact-section.html %}
<script type="text/javascript" src="script/victorScripts/recentposts.js"></script>
<script type="text/javascript" src="script/victorScripts/dropDownMenu.js"></script>