---
layout: homeTEMPLATE2
title: "Study Resources"
permalink: /Study Resources/
categories: [""]
---

<style>
    ol {
		column-gap: 3em;
    	column-width: 15em;
    	padding-left: 1.5em;
        margin: 0;
	}
</style>
<section id="MAINResources-section">
    <div class="container-fluid-inner">
        <div class="titles-inner">
            <h1 class="titles">LightCity Teaching Resources.</h1>
            <p>Categories, all in one place.</p>
        </div>
            {% assign catarray = "Angel-of-Yahweh,Bible-Commentaries,BibleTimelines,General-Resources,Jesus,Parables,The-LAW,Fall-of-Man,New-Covenant"|split:',' %}

            {% for cat in catarray %}
            {% for page in site.pages %}
            {% if page.categories contains cat %}
            <div class="homeResources-grid-containter">
                {% for page in site.pages %}
                {% if page.categories contains cat %}
                <h4 class="titles">
                    {{ cat }}
                </h4>
                {% break %}
                {% endif %}
                {% endfor %}
                <ol>
                    {% for page in site.pages %}
                    {% if page.categories contains cat %}
                    <li class="all-links">
                        <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>
                        &nbsp; <span class="archive-date-summary">{{ page.date | date: "%a, %b %d, %y" }}.</span>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ol>
            </div>
            {% break %}
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>