---
layout: homeTEMPLATE
title: "More Recent Posts"
categories: [""]
---
<style>
    a{
        color: inherit;
    }
</style>

<section id="Doctrines-section">
    <div class="homeBody-section flex">
        <div class="container-fluid-inner">
            {% include moreRecentPost-section.html %}
        </div>
    </div>
</section>
{% include contact-section.html %}
<script type="text/javascript" src="script/victorScripts/recentposts.js"></script>
<script type="text/javascript" src="script/victosScripts/dropDownMenu.js"></script>