@media only screen and (max-width: 960px) {
    header>h1:first-of-type, div>h1:first-of-type {
        font-size: 40px!important;
    }
    h1 {
        font-size: 38px!important;
    }
    h2 {
        font-size: 34px!important;
    }
    h3 {
        font-size: 30px!important;
    }
    h4,h5,h6 {
        font-size: 26px!important;
    }
    p,
    li {
        font-size: 30px;
    }
}
@media only screen and (max-width: 541px) {
header>h1:first-of-type, div>h1:first-of-type {
    font-size: 35px!important;
}
h1 {
    font-size: 30px!important;
}
h2 {
    font-size: 26px!important;
}
h3 {
    font-size: 22px!important;
}
h4,h5,h6 {
    font-size: 20px!important;
}
p,
li {
    font-size: 20px!important;
}}

@media only screen and (max-width: 300px) {
header>h1:first-of-type, div>h1:first-of-type {
    font-size: 20px!important;
}
h1 {
    font-size: 18px!important;
}
h2 {
    font-size: 15px!important;
}
h3 {
    font-size: 13px!important;
}
h4,h5,h6 {
    font-size: 10px!important;
}
p,
li {
    font-size: 18px!important;
}}

@media only screen and (min-width: 961px) {
header>h1:first-of-type, div>h1:first-of-type {
    font-size: 65px!important;
    line-height: 65px;
}
h1 {
    font-size: 50px!important;
    line-height: 50px;
}
h2 {
    font-size: 43px!important;
    line-height: 43px;
}
h3 {
    font-size: 34px!important;
    line-height: 34px;
}
h4 {
    font-size: 27px!important;
    line-height: 27px;
}
h5, h6 {
    font-size: 24px!important;
    line-height: 24px;
}
p,
li {
    font-size: 28px;
}}

/*PSAM 220516c*/
header>h1:first-of-type, div>h1:first-of-type {
    font-family: 'Bitter', serif;
    font-family: "Times New Roman", Times, serif;
    padding-top: .50em;
    border-bottom: 2px solid grey;
}
/*PSAM.220516a: the Rule for p below was added for alignment with H1 element*/

p {
    margin: 0.75em 0.4em 0em 0.4em!important;
}
.displayNone{
    word-break: break-word;
}
/*PSAM.220516b: the Rule for h1-h6 below was added for better alignment*/
h1,h2,h3,h4,h5,h6 {
    margin-left: 0.25em!important;
    word-break: break-word;
    font-weight: 900!important;
}
p,h1,h2,h3,h4,h5,h6 {
    margin: 1em 0.5em;
}
h1>a,h2>a,h3>a,h4>a,h5>a,h6>a {
    color: #111;
    text-decoration: none!important;
}
h1:first-child,
table {
    margin: 1em 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}
h1>span:first-child,
h2>span:first-child,
h3>span:first-child,
h4>span:first-child,
h5>span:first-child,
h6>span:first-child {
    width: 100px;
    color: #5f666d;
}
header~h1 {
    counter-increment: header1;
    content: counter(header);
}
header~h1:before {
    content: "*" counter(header)"*";
    content: "0" counter(header1);
    font-size: medium;
}
header~h1>h2 {
    counter-reset: header2 1;
}
header~h2 {
    counter-increment: header2;
    content: counter(header);
}
header~h2:before {
    content: "*" counter(header)"*";
    content: counter(header1)"." counters(header2, ".") ". ";
    font-size: medium;
}
header~h1>h2>h3 {
    counter-reset: header2 1;
}
header~h3 {
    counter-increment: header3;
    content: counter(header);
}
header~h3:before {
    content: "*" counter(header)"*";
    content: counter(header1)"." counters(header2, ".") "." counters(header3, ".")".";
    font-size: medium;
}

@import url(//db.onlinewebfonts.com/c/9a95ac248797ec280789f4ece8fe3fd3?family=Sally);

/*PSAM.220516a: Deactivated because of the poor left alignment formatting*/

/* ol,ul:first-of-type{
        padding-left: 0!important;
    }
    ol,ul{
        padding-left: 0.5em;
        margin: 1em 0.5em!important;
    } */

ol {
    list-style-type: lower-alpha;
}
ol>li>ol {
    list-style-type: lower-roman;
    padding-left: 0;
    margin: 0!important;
}
ol>li>ol>li>ol {
    list-style-type: decimal-leading-zero;
}
ol>li>ol>li>ol>li>ol {
    list-style-type: upper-alpha;
}
ol>li>ol>li>ol>li>ol>li>ol {
    list-style-type: upper-roman;
}
ol>li>ol>li>ol>li>ol>li>ol>li>ol {
    list-style-type: decimal;
}
ol {
    /* 	list-style-type: none; */
    counter-reset: lister;
    padding-inline-start: 20px;
    /* 	margin: auto; */
}
body>li:first-child {
    margin-top: 0.6em;
}
li {
    margin-left: 0;
    display: table;
    counter-increment: lister;
    margin-bottom: 0.4em;
    /*PSAM.220516a: from 0.6em to 0.4em*/
}
li:before {
    content: counters(lister, ".") ". ";
    display: table-cell;
    padding-right: 0.3em;
    font-size: x-small;
}
.footerLinks-lists li:before {
    content: " ";
    padding-right: 0;
}
li li {
    margin: 0;
}
li li:before {
    content: counters(lister, ".") ". ";
}
.italize {
    font-style: italic;
}
.emphasize {
    color: black;
    background-color: rgb(245, 220, 244);
}
blockquote {
    /*! background: #f9ffc6; */
    background: rgb(0, 0, 0, 0.05);
    border-left: 10px solid rgb(83, 0, 83, 0.5);
    margin: 1em 15px;
    padding: 0.5em 10px;
    quotes: "\201C""\2018";
}
blockquote:before {
    color: rgb(83, 0, 83, 0.5);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.sidenote {
    color: #212121;
    background-color: rgb(250, 255, 211);
}
.sidenote p {
    font-size: 18px;
    font-style: italic;
    padding: 15px;
}
@media all and (min-width: 900px) {
.mobilebreak {
    display: none;
}
li:before {
    font-size: medium;
}}
#homeHeader {
    box-shadow: 0 2px 4px #d0d0d0;
}
.homeHeaderNav {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.churchLOGO {
    padding: 10px 10px 10px 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    float: left;
}
.churchLOGO-img {
    height: 40px;
}
@media only screen and (max-width: 540px) {
    .churchLOGO-img {
        height: 30px;
    }
}

/* Table CSS */
td,
th {
    border: 1px solid grey;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 2.5px solid grey;
    border-bottom: 2.5px solid grey;
}
th {
    text-transform: uppercase;
}
th:first-child {
    /* text-align: right; */
    border-right: 2.5px solid grey;
}

@media only screen and (max-width: 540px) {
td,
th {
    padding-right: 0;
    padding-left: 0;
}
table p {
    font-size: 16px!important;
    margin: 0.3em!important;
}
table li {
    font-size: 16px!important;
}
table ul {
    padding-left: 0.2em!important;
    margin: 0.5em 0!important;
}
table ol {
    padding-left: 0.2em!important;
    margin: 0.5em 0!important;
}}


/*DVIC 221119c*/
.add_space{
    height: 70px;
}

.openAll{
    display: block!important;
}
.toggleAllHeaders {
    display: grid;
    grid-template-columns: 70% 30%;
    place-items: baseline;
    margin: 1em 0.5em;
}
.toggleAllHeaders div {
    place-self: center end;
}
/* @media only screen and (min-width: 1024px) {
.toggleAllHeaders {
    grid-template-columns: 90% 10%;
    place-items: end;
}} */
@media only screen and (min-width: 540px) {
.toggleAllHeaders {
    grid-template-columns: 90% 10%;
    place-items: end;
}}
.toggleAllHeaders p {
    margin: 0!important;
}
.checkbox {
    opacity: 0;
    display: none;
	/* position: absolute; */
}
.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding: 5px; */
	position: relative;
	height: 26px;
	width: 50px;
	/* transform: scale(1.5); */
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
    pointer-events: none;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.open, .close {
	color: #f1c40f;
    color: floralwhite;
}
.open::before {
	content: "\2727 ";
}
.close::before {
	content: "\2726 ";
}