.animation-area {
	background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
}
.box-area li {
	border-bottom: 160px solid rgb(228, 222, 211);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}

/* PRELOAD CSS */
.loader-bg{
    background: crimson;
}
.loader:before, .loader:after{
    border: 1em solid #ff5733;
}

body{
    background-color: crimson;
}

/* Custom CSS */
.explainButton{
    color: black;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
#quizCatName {
    color: #fff;
    color: gray;
}
#confirmButton {
    background-color: white;
    border: 1px solid white;
    color: black;
}
#confirmButton:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
}

/* Choose QandA-Categories CSS */
.choosecat-grid {
    background-color: crimson;
    /* box-shadow: 3px -500px 22px 2000px rgb(0 0 0 / 68%); */
    color: white!important;
}
.choosecat-Child {
    background-color: white;
    border: 1px solid white;
    color: black;
}
.choosecat-Child a {
    color: black;
}
.choosecat-Adult {
    background-color: black;
    border: 1px solid black;
    color: white;
}
.choosecat-Adult a {
    color: white;
}
.choosecat-grid h2 {
    color: orange;
}

@media  only screen and (min-width: 1024px){
.choosecat-Child:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
}
.choosecat-Adult:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
}
.choosecat-Child a:hover {
    color: white;
}
.choosecat-Adult a:hover {
    color: black;
}}

/* QandA-Categories CSS */
.cat-bibleQuiz-section{
    background-color: crimson;
}
/* HEADER SECTION */
#cat-headerbar{
    box-shadow: 0 3px 4px rgb(138, 11, 36);
}
.header-links-li>a {
    color: white;
}
.header-links a:hover, .header-links a:focus {
    color: white;
}
.header-links li:hover, .header-links li:focus {
    background-color: white;
    background-color: rgb(138, 11, 36);
}

/* END OF HEADER SECTION */
#cat-bibleQuiz-inner h1{
    text-shadow: 7px 7px orange,
                 18px 18px black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: honeydew;
}
#cat-bibleQuiz-inner h5, #cat-bibleQuiz-inner h6 {
    color: black;
}
#cat-bibleQuiz-inner p, #cat-bibleQuiz-inner ol{
    color: white;
}
/* MOBILE CSS */
@media screen and (max-width: 590px){
#cat-bibleQuiz-inner h1{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    text-shadow: 3px 3px orange,
                 10px 10px black;
}}
.cat-grid>a {
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}
.cat-grid>a {
    color: #272727;
    text-shadow: 0 1px 1px #fff;
    background-color: aliceblue;
    box-shadow: 0 3px 4px rgb(138, 11, 36);
    border: 1px solid #bfc3c8;
}
.cat-grid>a:hover{
    background-color: #f0f0f0ff;
}

/* DESKTOP VIEW */

/* QandA CSS */
#QandA-section{
    background-color: crimson;
}
.fade {
    background-color: rgba(0,0,0,0.4);
}

/* HEADER SECTION */
.QandA-header {
    box-shadow: 0 3px 4px rgb(138, 11, 36);
    color: white;
}
/* .QandA-headerinner {
    background-color: #40315f;
    background-color: #1a0f30;
    background-color: #EED0A9;
    box-shadow: 0 3px 4px rgb(235 202 159);
    border: 1px solid #EC7272;
    color: #e0dfdf;
    color: lightblue;
    color: chocolate;
} */

.quizCatLink a {
    color: white;
}
.quizCatLink span>i{
    background: -webkit-linear-gradient(#f3ec78, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#settingsContent, #catSettingsContent {
    background-color: crimson;
    border: 1px solid crimson;
    box-shadow: 3px -500px 22px 2000px rgb(0 0 0 / 92%);
    color: white!important;
}
#settingsContent a, #catSettingsContent a {
    color: white;
}
#nextPrevButton {
    border: 1px solid #969292;
    border: 1px solid #E38B29;
}
#playButton, #pauseButton, #playButtonCat, #pauseButtonCat {
    color: white;
    /* background: rgba(115, 67, 167, 0.8);
    background: brown;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); */
}
.vl {
    border-left: 3px solid white;
}
/* .quizCatLink:hover, #prevquestionbutton:hover, #nextquestionbutton:hover, #questionhint:hover{
    text-shadow: rgba(255,162,0,0.95) 0px 0px 39px;
} */
#questioncount{
    color: orange;
}

/* QandA-BOARD SECTION */
.QandA-Board>ol>li {
    color: white!important;
}

.showHintCSS, .showNewCatCSS{
    background-color: crimson;
    border: 1px solid crimson;
    box-shadow: 3px -500px 22px 2000px rgb(0 0 0 / 92%);
    color: white!important;
}
.closeHint, .closeSettings, .closeCatSettings{
    background-color: rgb(138, 11, 36);
    color: white!important;
}
.showHintCSS>a, .showNewCatCSS>a {
    color: white!important;
}

.QandA-Board>ol>li>ul>li::before {
    background-color: white;
    /* border: 1px solid brown; */
    box-shadow: 2px 1px 7px rgb(138, 11, 36);
    color: black;
}
.QandA-Board>ol>li>ul>li::after {
    background: linear-gradient(45deg,#743ad5,#d53a9d);
    background: linear-gradient(45deg,#FFA500,#d53a9d); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0); 
}
.QandA-Board>ol>li>ul>li>ul{
    color: aliceblue;
}

/* MOBILE VIEW */
@media  only screen and (max-width: 657px){
/* HEADER SECTION */
/* QandA-BOARD SECTION */
.insertedDIV::before {
    background:linear-gradient(45deg,#FFA500,#d53a9d); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
}
.QandA-Board>ol>li>ul>li::after {
    background: linear-gradient(45deg,#743ad5, #d53a9d);
    background: linear-gradient(45deg,#d53a9d,#FFA500);  
}}

@media only screen and (min-width: 658px){

/* HEADER SECTION */
/* QandA-BOARD SECTION */
.insertedDIV::before {
    background:linear-gradient(45deg,#FFA500,#d53a9d); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
}}

@media only screen and (min-width: 912px){
.quizCatLink:hover, #prevquestionbutton:hover, #nextquestionbutton:hover{
    background-color: rgb(138, 11, 36);
    border: 1px solid rgb(138, 11, 36);
    color: white!important;
}
.quizCatLink a:hover {
    color: white!important;   
}}
/* END OF MOBILE VIEW */

/* DESKTOP VIEW */
@media only screen and (min-width: 1024px){
/* QandA-BOARD SECTION */
.insertedDIV::before {
    background:linear-gradient(45deg,#FFA500,#d53a9d); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
  }
.QandA-Board>ol>li>ul>li:hover, .QandA-Board>ol>li>ul>li:active{
    background-color: rgb(99, 21, 21);
    border: rgb(99, 21, 21);
}}

/* QUIZ RESULT CSS */
#quizResult-section{
    background-color: transparent;
}
.Result-BoardHeader{
    border: 1px solid #EC7272;
    box-shadow: 0 3px 4px rgb(138, 11, 36);
    color: white;
}
.Result-BoardHeader>ul a{
    color: white;
}
.Result-Board {
    background: crimson;
    border: 1px solid crimson;
    color: white!important;
    box-shadow: 3px -500px 22px 2000px rgb(0 0 0 / 85%);
}
.Result-Board-inner {
    background-color: crimson;
    border: 1px solid crimson;
}
.Result-Board h2 {
    color: white!important;
}
.performance ol {
    color: darkred;
}
.performance ol:first-of-type {
    color: green;
}
.btn-bg-color {
    background-color: white;
    border:  1px solid white;
    color: black;
}
.btn-bg-outline {
    background-color: crimson;
    border: 1px solid crimson;
    color: white;
}
.btn-bg-outline:hover {
    background-color: white;
    border:  1px solid white;
    color: black;
}
.btn-bg-color>a {
    color: black!important;
}
.btn-bg-color:hover{
    background-color: black!important;
    border: 1px solid black;
    color: white;
}
.btn-bg-color>a:hover {
    color: white;
}

@media only screen and (max-width: 540px){
.Result-img {
    border-bottom: 1px solid white;
}}

@media only screen and (min-width: 541px){
.Result-img {
    border-right: 1px solid white;
}}

/* CORRECTED ANSWERS CSS */
#CorrectedAnswers-section {
    background-color: crimson;
}
.corAnswers-BoardHeader{
    box-shadow: 0 3px 4px rgb(138, 11, 36);
    color: white;
}
.corAnswers-Board-Header{
    color: white;
}
.corAnswers-Board-Header>h1 {
    color: orange;
}
.corAnswers-Board>ol>li {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: white;
}
.corAnswers-Board>ol>li>div {
    border-right: 2px solid white;
}
.corAnswers-Board>ol>li>ul>li>strong {
    color: white!important;
}
.corAnswers-Board>ol>li>ul>li>ul {
    color: white!important;
}
.corAnswers-btn>button{
    background-color: white;
    border: 1px solid white;
    color: black;
}
.corAnswers-btn>button:hover {
    background-color: black;
    border: 1px solid black;
    color: white!important;
}
.corAnswers-btn>button>a {
    color: black!important;
}
.corAnswers-btn>button>a:hover {
    background-color: black!important;
    color: white;
}
.totalQuestionsColor{
    color: #414141!important;
}