@media (prefers-color-scheme:dark){
body{
    background-color:var(--DM-light-gray)!important;
    color:var(--DM-black);}
/* PRELOAD CSS */
.loader-bg{
    background:var(--black)!important;}
.loader{
    /* animation properties */
    background-image:url(../images/preload.svg);}
/* custom CSS */
button{background-color:transparent;}
button,input,optgroup,textarea{color:var(--DM-inherit);}
.bg-color{ 
    background-color:#2F4052;
    background-color:var(--DM-bgColor-smoke-white);
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow:4px 7px 10px rgba(0, 0, 0, 0.1);}
.active{ 
    color:var(--DM-vivid-orange)!important;
    border-bottom:3px solid var(--DM-vivid-orange)!important;}
a{/* text-decoration-color:var(--light-grey)!important; */}
::selection{ 
    background-color:var(--selection);
    color:var(--DM-black);
}
#Resources-section .titles>a:hover{color:var(--gray);}
.homeResources-grid-containter{
    background-color:var(--DM-bgColor-smoke-white)!important;
    box-shadow:7px 8px 16px -5px rgba(0, 0, 0, 0.14);
    box-shadow:4px 7px 10px rgba(0, 0, 0, 0.1);}
.archive-date{color:var(--DM-red);}
footer .archive-date{color:var(--gray);}
/* mobile view */
.mobileButton{ 
    background:url(../images/hamburger-menu-svgrepo-com-DarkMode.svg) no-repeat center;
    border:1px solid var(--gray);}
#headerLinks{background-color:var(--white);}
.mobile-homeHeaderNav{ 
    background-color:var(--DM-bgColor-smoke-white);
    box-shadow:3px -500px 22px 2000px rgb(0 0 0 / 75%);}
.mobile-headerLinks{ 
    border-bottom:1px solid var(--grey);}
.mobile-headerLinks:hover{ 
    background-color:var(--DM-light-grey);}
.mobile-headerLinks a{ 
    color:var(--DM-black);}
.iconLink2{border-bottom:1px solid var(--DM-black)!important;}
.closeNavBar{ 
    background-color:#dd1515!important;
    border:1px solid #dd1515!important;}
.closeNavBar>div{
    background:url(../images/cancel-svgrepo-com-DarkMode.svg) center no-repeat;}
.myDropdown{background-color:transparent;}
.myDropdown2{background-color:transparent;}
.header-links2{ 
    background-color:var(--DM-vivid-orange);
    background-color:var(--DM-bgColor-smoke-white);
    box-shadow:4px 7px 10px rgba(0, 0, 0, 0.1);}
@keyframes easeIn{ 
    0%{color:transparent;}
    60%{color:var(--DM-inherit);}
    100%{color:var(--DM-inherit);}}
@keyframes easeInTwo{ 
    0%{color:transparent;}
    80%{color:var(--DM-inherit);}
    100%{color:var(--DM-inherit);}}
@keyframes slideInFromTop{ 
    0%{color:transparent;}
    40%{color:transparent;}
    100%{color:var(--DM-red);}}
/* desktopHeader CSS */
.group-cats p{
    color:var(--DM-vivid-orange);
    border-bottom:3px solid var(--DM-vivid-orange);}
@media only screen and (max-width:820px){ 
.group-cats{
    border-bottom:1px solid var(--grey);
    border-right:4px solid var(--DM-vivid-orange);}}
/* homeHeader */
.header-links-li>a{ 
    color:var(--DM-black);}
.moreButton{color:var(--DM-light-gray);}
.moreButton{background-color:var(--DM-vivid-orange);}
.moreButton:hover{
    background-color:var(--DM-black);
    background-color:var(--vivid-orange);}
.header-links a:hover,.header-links a:focus,
.header-links2 a:hover,.header-links2 a:focus{ 
    background-color:var(--DM-vivid-orange);
    background-color:var(--DM-light-grey);}
.all-links a{
    color:var(--DM-supernova);
    transition:color .2s ease-out,opacity .2s ease-out;}
.all-links a:hover{
    color:var(--DM-red);
    border-bottom:1px solid var(--DM-red)!important;}
a.titles-links{
    background:linear-gradient(91deg, var(--DM-vivid-orange) 30.03%, var(--DM-light-vivid-orange) 101.13%);
    background:var(--DM-vivid-orange);
    color:var(--DM-light-gray)!important;
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.1);}
a.titles-links:hover{
    background:var(--vivid-orange);}
/* FOOTER CSS */
footer{ 
    background-color:var(--DM-bgColor-smoke-white)!important;
    color:var(--DM-black);
    border-top:1px solid rgba(190,190,190,.5);
    border-top:10px solid var(--DM-vivid-orange);}
footer a{ 
    color:var(--DM-black);}
/* CONTACT-SECTION CSS */
.footerLinks-header h3,.Contact-section h3{
    box-shadow:none!important;
    color:var(--white);
    color:var(--DM-vivid-orange);}
.Contact-section h5{ 
    box-shadow:none!important;}
.footerLinks-header a:hover{
    color:var(--grey);}
/* FOOTER LINKS CSS */
@media only screen and (max-width:720px){ 
.visible-titles2{color:var(--DM-vivid-orange);}}
li>span,li>em>span,p>span,p>em>span{ 
    color:rgb(20 157 237)!important;}
li>span:hover,li>em>span:hover,p>span:hover,p>em>span:hover{ 
    color:rgb(0, 106, 168)!important;}
h1>span,h2>span,h3>span,h4>span,h5>span,h6>span,
h1>a>span,h2>a>span,h3>a>span,h4>a>span,h5>a>span,h6>a>span,
li>a>span{ 
    color:inherit!important;}
/* styles from lightcity-02.css */
.visible-titles{ 
    background-color:var(--DM-bgColor-smoke-white);
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.1);
    color:var(--DM-black);}
.visible-titles.active{color:var(--grey)!important;} 
.sidebar a{color:var(--DM-black);} 
.recentposts a{color:var(--DM-black)!important;}
.recentposts a:hover, .sidebar-wrapper-header a:hover{color:var(--grey)!important;}
.homeResources-grid .archive-date,
.homeResources-grid .archive-date-summary{color:var(--DM-red)!important;}
a.cat-link{ 
    text-decoration:none;
    color:var(--DM-supernova)!important;}
.titles-inner{
    background-color:var(--DM-bgColor-smoke-white)!important;
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow:7px 8px 16px -5px rgba(0, 0, 0, 0.14);
    box-shadow:4px 7px 10px rgba(0, 0, 0, 0.1);}
#search-input{
    background-color:var(--DM-bgColor-smoke-white);}
::placeholder{
    color:var(--DM-black);}
/* styles from article-style.css */
.leftBorderForArticleTitle{background-color:var(--DM-red);}
article h1,article h2,article h3,article h4, articleh5,article h6{ 
    border-bottom:2px solid rgba(190,190,190,.5);
    border-bottom:1px solid var(--DM-black);}
blockquote{ 
    background:var(--DM-bgColor-blockquote);
    border-left:10px solid var(--DM-light-purple);}
blockquote:before{color:var(--DM-light-purple);}
.sidenote{ 
    color:var(--DM-bgColor-smoke-white);
    background:var(--DM-bgColor-blockquote);}
.label{background-color:var(--DM-bgColor-smoke-white);}
.label .ball{ 
    background-color:var(--DM-black);}
.open, .close{ 
    color:var(--DM-vivid-orange);
    color:var(--DM-black);}
.PageNavigation a{
    color:var(--DM-black);}
.PageNavigation a:hover{
    color:var(--gray)!important;}
.prev-link p, .next-link p{
    color:var(--gray);}
.prev-link span, .next-link span{
    color:var(--inherit)!important;}
/* styles from video.css */
.videos-header-btns-cont{border-bottom:1px solid var(--DM-black);}
.videos-header-btns-cont>.active{
    outline:none;
    color:var(--DM-vivid-orange);
    border-bottom:3px solid var(--DM-vivid-orange);}
.videos-header-btns{color:var(--DM-black);}
.videos-header-btns:hover{
    color:var(--gray);}
.video-box h3{
    color:var(--DM-black);}
/* styles from video.css */
#context_menu{
    background:var(--DM-bgColor-smoke-white);}
#context_menu .buttons{
    background:var(--DM-light-gray);
    border-bottom:2px solid #70707072;}
#context_menu .cmtitlebar{
    background:var(--DM-bgColor-smoke-white);}
.cmtitlebar{
    border-bottom:1px solid var(--scroll-track-bg-color);
    box-shadow:0px -25.5px 6px 28px #000000;}
#context_menu #cmenu_closebtn,.cmenu_closebtn{
    background:url(../images/cancel-svgrepo-com-DarkMode.svg) center no-repeat;}
#context_menu #cmenu_closebtn:hover,.cmenu_closebtn:hover{
    background:url(../images/cancel-svgrepo-com-BLACK.svg) center no-repeat;}
.cmenu_navnclose_btns button.prv_verse,.cmenu_navnclose_btns button.nxt_verse,
.cmenu_navnclose_btns button.prv,.cmenu_navnclose_btns button.nxt,
#context_menu summary>div:first-of-type{
    background:url(../images/arrow-up-svgrepo-com-DarkMode.svg) center no-repeat;}
.cmenu_navnclose_btns button.prv_verse:hover,.cmenu_navnclose_btns button.nxt_verse:hover,
.cmenu_navnclose_btns button.prv:hover,.cmenu_navnclose_btns button.nxt:hover{
    background:url(../images/arrow-up-svgrepo-com.svg) center no-repeat;}
.cmenu_tsk:hover{color:var(--black);}
#context_menu code:not(.cmtitlebar code):hover,.crossrefs span:hover{color:rgb(20 157 237)!important;}
#context_menu details[open] > summary > div:first-of-type{
    background:url(../images/arrow-up-svgrepo-com-DarkMode.svg) center no-repeat;
    transform:rotate(-180deg);}
span.translated:not(.win2_noteholder blockquote .verse:not(.verse:hover) span.translated){
    color:var(--DM-translated-word);}
#context_menu:not([strnum]) hr,.compare_verses hr{
    background:var(--DM-black)!important;}
#context_menu:not([strnum]) hr::before,.compare_verses hr::before{
    background:var(--DM-bgColor-smoke-white);}
.cmenu_closebtn,.cmenu_navnclose_btns button{
    background-color:var(--grey)!important;
    box-shadow:1px 1px 1px var(--shadow-color)!important;}
.buttombar{
    background:var(--DM-bgColor-smoke-white);
    border-top:2px solid var(--scroll-track-bg-color);}
.crossrefs {
    background: var(--DM-bgColor-smoke-white);
    box-shadow: inset 0 1px 4px var(--black);}
.crossrefs h1::before, .crossrefs h2::before, .crossrefs h3::before, .crossrefs h4::before, .crossrefs h5::before, .crossrefs h6::before,.crossrefs .hidingsibs::before{
    content: url(../images/arrow-up-svgrepo-com-DarkMode.svg);}
}