:root {
    --bgColor-smoke-white:#f6f6f6;
    --white:#ffffff;
    --black:#212121;
    --gray:#9D9D9D;
    --light-gray:#F0F0F0;
    --grey:grey;
    --light-grey:#d0d0d0;
    --vivid-orange:#ffc107;
    --light-vivid-orange:#f8d261;
    --supernova:#5f40f6;
    --red:red;
}