.videos-container{padding:0 0 22px 0!important;}
.videos-header{
    overflow-x:auto;
    margin-bottom:0!important;}
.videos-header-cont{
    display:flex;
    place-content:center;
    border-radius:6px;
    margin-top:12px;
    overflow:inherit;
    flex-wrap:nowrap;
    position:relative;}
.videos-header-btns-cont{
    display:flex;
    overflow:inherit;
    flex-wrap:nowrap;
    position:relative;
    border-radius:10px;
    gap:15px;
    margin-left:1px;
    position:relative;}
.videos-header-cont .arrows{
    position:absolute;
    z-index:2020;
    height:100%;
    top:0;
    display:flex;
    flex-direction:row;
    justify-content:center;}
.arrow-left{left:-15px;}
.arrow-right{right:-15px;}
.arrow-btn-size{
    width:40px;
    height:100%;}
#arrow-left-btn,#arrow-right-btn{
    display:flex;
    align-items:center;
    cursor:pointer;}
.arrow-left::after,.arrow-right::before{
    content:"";
    pointer-events:none;
    width:35px;
    height:100%;}
@media only screen and (max-width:420px){
.arrow-left{left:-5px;}
.arrow-right{right:-5px;}
.arrow-left::after,.arrow-right::before{width:20px;}
.arrow-btn-size{width:25px;}}
.videos-header-cont::-webkit-scrollbar,.videos-header-btns-cont::-webkit-scrollbar{display:none;}
.videos-header-btns{
    border-bottom:3px solid transparent!important;
    display:flex;
    font-size:calc(20px + (24 - 16)*((100vw - 320px) / (1920 - 320)))!important;
    font-weight:600;
    position:relative;
    padding:3px 15px;
    transition:all 0.2s ease-in-out;
    white-space:nowrap;
    gap:5px;
    border-radius:10px;}
@media only screen and (min-width:541px){ 
.videos-header-btns{padding:3px 25px;}}
@media only screen and (min-width:768px){ 
.videos-header-btns{padding:3px 30px;}}
@media only screen and (min-width:912px){ 
.videos-header-btns{padding:3px 35px;}}
@media only screen and (min-width:990px){ 
.videos-header-btns{padding:3px 45px;}}
@media only screen and (min-width:1110px){ 
.videos-header-btns{padding:3px 60px;}}
@media only screen and (min-width:1290px){ 
.videos-header-btns{padding:3px 75px;}}
.videotab-content-wrapper{padding:15px 0 0 0;}
.videotab-content, .searchvideotab-content{ 
    display:none;
    animation:fadein 0.3s ease-in-out;}
.videotab-content--active, .searchvideotab-content--active{display:grid;}
@keyframes fadein {
    from {opacity:0;}
    to   {opacity:1;}}
@media only screen and (max-width:375px){
.videotab-content-wrapper>.container-fluid-inner{margin:0 3px 0;}}
.videotab-content, .searchvideotab-content{
    grid-template-columns:repeat(auto-fit, minmax( min(100%, 240px), 1fr));
    gap:10px;}
.video-box{margin-bottom:10px;}
.video-box.homeResources-grid-containter{padding:10px 10px 22px 10px;}
.iframe-container{
    display:inline-flex;
    position:relative;
    width:100%;
    padding-bottom:56.25%; 
    height:0;}
.iframe-container iframe,
.iframe-container lite-youtube{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:10px;}
.video-box h3{
    font-size:calc(14px + (24 - 16)*((100vw - 320px) / (1920 - 320)));
    font-weight:500;
    line-height:1.25;
    text-transform:revert;}
/* .video-date{display:block;} */
@media only screen and (max-width:540px){
.video-box h3{padding:8px 0 0;}}
@media only screen and (max-width:420px){
.videos-header-cont .shadow {width:20px;}
.video-box.homeResources-grid-containter{padding:8px 8px 22px 8px;}}
@media only screen and (max-width:360px){
.video-box.homeResources-grid-containter{ 
    padding:0 0 18px 0;
    padding:5px 5px 18px 5px;}
.video-box h3{padding:5px 5px 0;}}
@media only screen and (min-width:1260px){
.videotab-content, .searchvideotab-content{grid-template-columns:repeat(4, 1fr);}}
/* search CSS */
#searchResults{position:relative;}
.highlighted{border-radius:2px;}
.displayedVideoCountElement{
    position:absolute;
    padding-top:6px;}