---
layout: cat-homepageTEMPLATE
title: "Angel Of Yahweh"
categories: ["HomePage-Angel of Yahweh"]
---
<style>
div > ol {	
	list-style-type: upper-alpha;
    padding-left: 1.5em;
}
div > ol > ol {	
	padding-left: 20px;
	padding-top: 10px;
	column-gap: 4em;
	column-width: 24em;
}
</style>

<div class="homeBody-section container-fluid-inner">
<h1 class="titles">Angel of Yahweh</h1>
<p>A collection of our Study on the Angel of Yahweh</p>
<div>
	<ol>
	<li><h4>The Angel of Yahweh</h4></li>
	<ol>
		{% for page in site.pages %}
		{% if page.categories contains "Angel of Yahweh" %}
		{% if page.subsection contains "The Angel of Yahweh" %}
		<li><a
				href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>
		</li>
		{% endif %}
		{% endif %}
		{% endfor %}
	</ol>
	<li><h4>Identifying The Angel of Yahweh</h4></li>
	<ol>
		{% for page in site.pages %}
		{% if page.categories contains "Angel of Yahweh" %}
		{% if page.subsection contains "Identifying the AoY" %}
		<li><a
				href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>
		</li>
		{% endif %}
		{% endif %}
		{% endfor %}
	</ol>
	<li><h4>The Angel of Yahweh & The Lord Jesus Christ</h4></li>
	<ol>
		{% for page in site.pages %}
		{% if page.categories contains "Angel of Yahweh" %}
		{% if page.subsection contains "Jesus is the Angel of Yahweh" %}
		<li><a
				href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>
		</li>
		{% endif %}
		{% endif %}
		{% endfor %}
	</ol>
	<li><h4>The Angel of Yahweh & Messiah Prophesies</h4></li>
	<ol>
		{% for page in site.pages %}
		{% if page.categories contains "Angel of Yahweh" %}
		{% if page.subsection contains "The AoY and the Messiah Prophesies" %}
		<li><a
				href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>
		</li>
		{% endif %}
		{% endif %}
		{% endfor %}
	</ol>
	<li><h4>The Angel of Yahweh, The Archangel Michael & The Lord Jesus Christ</h4></li>
	<ol>
		{% for page in site.pages %}
		{% if page.categories contains "Angel of Yahweh" %}
		{% if page.subsection contains "The AoY, Michael and Jesus Christ" %}
		<li><a
				href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>
		</li>
		{% endif %}
		{% endif %}
		{% endfor %}
	</ol>
	</ol>
</div>
</div>
{% include contact-section.html %}
<script type="text/javascript" src="../script/victorScripts/dropDownMenu.js"></script>
	<script type="text/javascript" src="../script/victorScripts/recentposts.js"></script>
</body>

</html>
	