---
layout: homeTEMPLATE
title: "Angel Of Yahweh (Angel of The LORD)"
categories: ["HomePage-Angel of Yahweh"]
---
<style>
	ol, ul{
		column-gap: 2em;
		column-width: 12em;
	}
	</style>
	<div class="homeBody-section container-fluid-inner" style="min-height: 75vh;">
		<h1 class="titles">Angel of Yahweh</h1>
		<p>A collection of our Study on the Angel of Yahweh</p>
		<ol>
			{% for page in site.pages %}{% if page.categories contains "Angel of Yahweh" %}<li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
				{% endif %}{% endfor %}
		</ol>
	</div>
	{% include contact-section.html %}
	
	<script type="text/javascript" src="script/victor'sScripts/autoScroll.js"></script>
	<script type="text/javascript" src="../script/victor'sScripts/dropDownMenu.js"></script>
</body>
</html>
