---
layout: cat-homepageTEMPLATE
title: "BibleTimelines"
permalink: /BibleTimelines/
categories: ["HomePage-BibleTimelines"]
tags: page-categories
---
<style>
	ol, ul{
		column-gap: 2em;
		column-width: 12em;
	}
	</style>
	<div class="homeBody-section">
		<div class="container-fluid-inner">
			<div class="homeResources-grid-containter">
	<h1 class="titles">Bible TimeLines</h1>
	<p>A collection of Bible Timelines</p>

	<ol id="nav">
	        {% for page in site.pages %}{% if page.categories contains "Timeline" %}<li class="all-links"><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
            {% endif %}{% endfor %}
    </ol>
	</div>
	</div>
	</div>