---
layout: cat-homepageTEMPLATE
title: "General Resources"
permalink: /General Resources/
categories: ["HomePage-General Resources"]
tags: page-categories
---
<style>
	div>ol {
		column-gap: 2em;
		column-width: 12em;
		padding-left: 1.5em;
	}
</style>
<div class="homeBody-section">
	<div class="container-fluid-inner">
		<div class="homeResources-grid-containter">
	<h1 class="titles">General Resources</h1>
	<p>A collection of Useful Resources</p>

	<ol id="nav">
		{% for page in site.pages %}
		{% if page.categories contains "General Resources" %}
		<li class="all-links">
			<a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>
		</li>
		{% endif %}{% endfor %}
	</ol>
</div>
</div>
</div>