---
layout: homeTEMPLATE
title: "Fall of Man"
categories: ["HomePage-Fall of Man"]
---
<style>
	ol, ul{
		column-gap: 2em;
		column-width: 12em;
	}
	</style>
	<div class="homeBody-section container-fluid-inner" style="min-height: 75vh;">
	<h1 class="titles">The Two Fall of Man</h1>
	<p>A collection of Useful Resources on the Falls of Man</p>

	<ol id="nav">
	        {% for page in site.pages %}{% if page.categories contains "Fall of Man" %}<li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
            {% endif %}{% endfor %}
    </ol>
	</div>
	{% include contact-section.html %}
	<script type="text/javascript" src="../script/victor'sScripts/dropDownMenu.js"></script>