---
layout: cat-homepageTEMPLATE
title: "Fall of Man"
categories: ["HomePage-Fall of Man"]
---
<style>
	div > ol {	
		list-style-type: upper-alpha;
	}
	div > ol > ol {	
		padding-left: 20px;
		padding-top: 10px;
		column-gap: 4em;
		column-width: 24em;
	}
</style>
<div class="homeBody-section container-fluid-inner">
<h1 class="titles">The Two Fall of Man</h1>
<p>A collection of Useful Resources on the Falls of Man</p>

<div>
	<ol>
	<li><h4>The Two Falls</h4></li>
	<ol>
		{% for page in site.pages %}
		{% if page.categories contains "Fall of Man" %}
		{% if page.subsection contains "Two Falls" %}
		<li><a
				href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>
		</li>
		{% endif %}
		{% endif %}
		{% endfor %}
	</ol>
	<li><h4>Major Judgments of God</h4></li>
	<ol>
		{% for page in site.pages %}
		{% if page.categories contains "Fall of Man" %}
		{% if page.subsection contains "Major Junctures" %}
		<li><a
				href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>
		</li>
		{% endif %}
		{% endif %}
		{% endfor %}
	</ol>
</div>
</div>
{% include contact-section.html %}
<script type="text/javascript" src="../script/victorScripts/dropDownMenu.js"></script>
<script type="text/javascript" src="../script/victorScripts/recentposts.js"></script>
