<script src="../script/BNodesG/selectables.js" defer></script>
</body>
<script src="../script/BibleTimelinesJS/darkOrlightBG.js" defer></script>
<script src="../script/BNodesG/bibleNodes-7.js" defer></script>
<script src="../script/BNodesG/svgPathGeneratorFromTwoPoints-03.js" defer></script>
<script src="../script/BNodesG/bibleNodes-cMenuFunctions.js" defer></script>
<script src="../script/BNodesG/bibleNodes-contextMenu.js" defer></script>
<!-- <script src="../script/BNodesG/bibleNodes-findSVGpath.js" defer></script> -->
<script src="../script/BNodesG/bibleNodes-drawSVGlines-04.js" defer></script>
<script src="../script/BNodesG/showHideDescendants.js" defer></script>
<script src="../script/BNodesG/reftager.js" defer></script>
<script src="../script/BNodesG/fileSaver.js" defer></script>
<script src="../script/BNodesG/saveBibleNodesToFile.js" defer></script>

<script src="../script/BNodesG/vennDiagramer-Rectangles.js" defer></script>
<script src="../script/BNodesG/vennCollisionDetection-Rectangles.js" defer></script>
</html>