<script type="text/javascript" src="../script/BibleTimelinesJS/darkOrlightBG.js"></script>
<script type="text/javascript" src="../script/BibleTimelinesJS/GetElement-XY-Coordinates.js"></script>
<script type="text/javascript" src="../script/BibleTimelinesJS/tableColumnClasses.js"></script>

<script type="text/javascript" src="../script/BibleTimelinesJS/draggableHtmlElement.js"></script>
<script type="text/javascript" src="../script/BibleTimelinesJS/dragdCloneDivs.js"></script>
<script type="text/javascript" src="../script/BibleTimelinesJS/svgConnectors_01.js"></script>
<script type="text/javascript" src="../script/BibleTimelinesJS/svgConnectors_02.js"></script>
<script type="text/javascript" src="../script/BibleTimelinesJS/cssColorNamesArray.js"></script>
<script type="text/javascript" src="../script/BibleTimelinesJS/svgConnectors_03.js"></script>

<script type="text/javascript" src="../script/BibleTimelinesJS/BibleStoryLineCreator.js"></script>
<script type="text/javascript" src="../script/BibleTimelinesJS/detailsSection.js"></script>

<script type="text/javascript" src="../script/BibleTimelinesJS/dragDropRows&Cells.js"></script>

<script type="text/javascript" src="../script/BibleTimelinesJS/TextEditorDocExec.js"></script>

<!-- <script type="text/javascript" src="../script/BibleTimelinesJS/reftager.js"></script> -->
<script src="https://www.blueletterbible.org/assets/scripts/blbToolTip/BLB_ScriptTagger-min.js" type="text/javascript"></script>
<script type="text/javascript">
    BLB.Tagger.Translation = 'NKJV';
    BLB.Tagger.HyperLinks = 'all'; // 'all', 'none', 'hover'
    BLB.Tagger.HideTanslationAbbrev = false;
    BLB.Tagger.TargetNewWindow = true;
    BLB.Tagger.Style = 'par'; // 'line' or 'par'
    BLB.Tagger.NoSearchTagNames = ''; // HTML element list
    BLB.Tagger.NoSearchClassNames = 'noTag doNotTag'; // CSS class list
</script>
<script type="text/javascript" src="../script/BibleTimelinesJS/storyTellerColumnSlideShow.js"></script>
<script type="text/javascript" src="../script/BibleTimelinesJS/modifyStyleSheet.js"></script>
<script type="text/javascript" src="../script/BibleTimelinesJS/fileSaver.js"></script>
<script type="text/javascript" src="../script/BibleTimelinesJS/saveTimelineAndDetails.js"></script>

</html>