
  <link type="text/css" href="../style/contact-section-sytle.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4c38acae5e.js" crossorigin="anonymous"></script>


  <div class="bg-color">
  <div class="Contact-section">
    <h1>Contact Me</h1>
    <h3>For Questions Or Any Request Please Contact Me Via:</h3>
    <h4><i class="icons fas fa-phone-alt "></i><em> +234 806 004 5449.</em></h4>
    <h4><i class="icons fas fa-envelope"></i><em><a href="mailto:samuel_awojuola@yahoo.com"> samuel_awojuola@yahoo.com.</a></em></h4>
  </div>
  </div>
