<footer>
    <section id="Contact-section">
        <div class="">
            <div class="Contact-section-inner container-fluid-inner">
                <div class="footer-nav-wrapper">
                    <div class="footerLinks-wrapper">
                        <div class="footerLinks-header">
                            <div class="visible-titles2 collapsible">
                                <h3>Latest Posts</h3>
                                <i class="caret2 fas fa-solid fa-caret-right"></i>
                            </div>
                            <div class="min-height content">
                                <ul class="footerLinks-lists">
                                    {% assign sorted-pages = site.pages | sort: 'date' | reverse %}
                                    {% assign my_array = "" | split: ',' %}
                                    {% for page in sorted-pages %}
                                    {% if page.date And page.date != "" And page.date != nil %}
                                    {% assign my_array = my_array | push: page %} {% endif %}
                                    {% endfor %} {% for page in my_array limit:5 %}
                                    <li>
                                        <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{ page.title }}
                                            <small class="archive-date">{{ page.date | date_to_string }}.</small>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="footerLinks-header space">
                            <div class="visible-titles2 collapsible">
                                <h3>Categories</h3>
                                <i class="caret2 fas fa-solid fa-caret-right"></i>
                            </div>
                            <div class="min-height content">
                                <ul class="footerLinks-lists" style="margin-bottom: 10px!important;">
                                    {% assign counter = '0' %}
                                    {% for page in site.pages %}
                                    {% if page.layout == "cat-homepageTEMPLATE" and counter < '6' %}
                                    {% capture counter %}{{ counter | plus:'1' }}{% endcapture %} 
                                        <li>
                                        <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            {{ page.title }}
                                        </a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                </ul>
                                <small title="Click me for all Links in Categories">
                                    {% for page in site.pages %}{% if page.title contains "Study Resources" %}
                                    <a class="titles-links" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>More categories</span>
                                    </a>{% endif %}{% endfor %}
                                </small>
                            </div>
                        </div>
                        <div class="footerLinks-header">
                            <div class="visible-titles2 collapsible">
                                <h3>Pages</h3>
                                <i class="caret2 fas fa-solid fa-caret-right"></i>
                            </div>
                            <div class="min-height content">
                                <ul class="footerLinks-lists">
                                    <li>
                                        {% for page in site.pages %}{% if page.title contains "About" %}
                                        <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>About Us</span>
                                        </a>{% endif %}{% endfor %}
                                    </li>
                                    <li>
                                        {% for page in site.pages %}{% if page.title contains "Teaching Summary" %}
                                        <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>Summary</span>
                                        </a>{% endif %}{% endfor %}
                                    </li>
                                    <li>
                                        {% for page in site.pages %}{% if page.title contains "Videos" %}
                                        <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>Video</span>
                                        </a>{% endif %}{% endfor %}
                                    </li>
                                    <li>
                                        <a href="https://samuelawojuola.github.io/BibleApp-2">
                                            <span>Bible App</span>
                                        </a>
                                    </li>
                                    <li>
                                        {% for page in site.pages %}{% if page.title contains "Bible Quiz" %}
                                        <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>Bible Quiz</span>
                                        </a>{% endif %}{% endfor %}
                                    </li>
                                    <li>
                                        {% for page in site.pages %}{% if page.title contains "Join Us" %}
                                        <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>Meeting Days</span>
                                        </a>{% endif %}{% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-nav-wrapper" style="border: none;">
                    <div class="Contact-section">
                        <h3>Contact Us</h3>
                        <h5>For Questions Or Any Request Please Contact Us Via:</h5>
                        <p class="prayer-text"><i class="icons fas fa-phone-alt"></i>
                            <em> +234 703 777 9894, +234 902 259 9514.</em>
                        </p>
                        <p class="prayer-text"><i class="icons fas fa-envelope"></i><em>
                            <a href="mailto:lightcityteachingfellowship@gmail.com">lightcityteachingfellowship@gmail.com.</a></em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>