<footer>
    <section id="Contact-section">
        <div class="bg-color bg-image">
            <div class="container">
                <div class="container-fluid-inner">
                    <div class="Contact-section">
                        <h1 class="titles">Contact Us</h1>
                        <h5 class="titles">For Questions Or Any Request Please Contact Us Via:</h5>
                        <p class="prayer-text"><i class="icons fas fa-phone-alt "></i><em> +234 703 777 9894, +234 902 259 9514.</em></p>
                        <p class="prayer-text"><i class="icons fas fa-envelope"></i><em><a href="mailto:lightcityteachingfellowship@gmail.com"> lightcityteachingfellowship@gmail.com.</a></em></p>
                    </div>
                    <!-- <div>
                        <h3>Links</h3>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
</footer>