<section id="CorrectedAnswers-section">
    <div class="homeBody-section container-fluid-inner">
        <div id="headerbar" class="corAnswers-BoardHeader bg-color bg-image">
            <ul>
                <li>Corrected Answers</li>
            </ul>
            <!-- <ul>
                <button onclick="window.location.reload()">Redo Quiz</button>
            </ul> -->
        </div>
        <div class="corAnswers-Board">
        </div>
        <div class="corAnswers-btn">
            <button onclick="window.location.reload()">Redo Quiz</button>
            <button>{% for page in site.pages %}{% if page.title contains "Bible Quiz" %}
                <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                    New Quiz
                </a>{% endif %}{% endfor %}
            </button>
        </div>
    </div>
</section>