<header id="mobileHeader" class="bg-image">
    <div class="cms-clearfix mobileHeaderNav align-items">
        <div class="mobileLogoSize">
            <img class="mobileLogo" src="images/LightCityLOGO.jpg" alt="lightcity-LOGO">
        </div>
        <div class="mobileControls">
            <div class="mobileDropdown">
                <button onclick="myFunction()" class="mobileButton" type="button">
                    ☰
                </button>
                <div id="myDropdown" class="mobile-homeHeaderNav bg-image dropdown_menu-6">
                    <div class="mobile-headerLinks">
                        {% for page in site.pages %}{% if page.title contains "Site Home" %}
                        <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                            <span>Home</span>
                        </a>{% endif %}{% endfor %}
                    </div>
                     
                    <div class="mobile-headerLinks transition">
                        {% for page in site.pages %}{% if page.title contains "About" %}
                        <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                            <span>About</span>
                        </a>{% endif %}{% endfor %}
                    </div>
                    
                    <div class="mobile-headerLinks transition">
                        {% for page in site.pages %}{% if page.title contains "Doctrines" %}
                        <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                            <span>Bible Doctrines</span>
                        </a>{% endif %}{% endfor %}
                    </div>
                    
                    <div class="mobile-headerLinks transition">
                        {% for page in site.pages %}{% if page.title contains "LightCity Teaching Resources" %}
                        <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                            <span>Categories</span>
                        </a>{% endif %}{% endfor %}
                    </div>
                    <div class="mobile-headerLinks transition">
                        {% for page in site.pages %}{% if page.title contains "Meeting Days" %}
                        <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                            <span>Meeting Days</span>
                        </a>{% endif %}{% endfor %}
                    </div> 
                </div>
            </div>
        </div>
    </div>
</header>


<header id="desktopHeader">    
        <div id="homeHeader" class="bg-color bg-image">
            <div class="container">
                <div class="container-fluid-inner cms-clearfix">
                    <nav class="homeHeaderNav align-items">
                        <div class="churchLOGO">
                            <img class="churchLOGO-img" src="images/LightCityLOGO.jpg" height=" 40" alt="lightcity-LOGO">
                            <!-- <p class="header-links-li">Bible Study Website</p> -->
                        </div>
                        <div class="headerUL">           
                            <ul class="header-links">
                                <li class="header-links-li transition">
                                    {% for page in site.pages %}{% if page.title contains "Site Home" %}
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Home</span>
                                    </a>{% endif %}{% endfor %}
                                </li>
                                    
                                <li class="header-links-li transition">
                                    {% for page in site.pages %}{% if page.title contains "About" %}
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>About</span>
                                    </a>{% endif %}{% endfor %}
                                </li>

                                {% for page in site.pages %}{% if page.title contains "Doctrines" %}
                                <li class="header-links-li transition">
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Bible Doctrines</span>
                                    </a>{% endif %}{% endfor %}
                                </li>

                                <li class="header-links-li transition">
                                    {% for page in site.pages %}{% if page.title contains "LightCity Teaching Resources" %}
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Categories</span>
                                    </a>{% endif %}{% endfor %}
                                </li>

                                <li class="header-links-li transition">
                                    {% for page in site.pages %}{% if page.title contains "Meeting Days" %}
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Meeting Days</span>
                                    </a>{% endif %}{% endfor %}
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
</header>
