<div id="mobileHeader" class="topnav">
    <header class="cms-clearfix mobileHeaderNav align-items">
        <div class="mobileLogoSize">
            <img class="mobileLogo" src="images/LightCityLOGO.jpg" alt="lightcity-LOGO">
        </div>
        <div class="mobileControls">
            <div class="mobileDropdown">
                <button onclick="myFunction()" class="mobileButton" type="button">
                    <i class="fas fa-bars" style="color: #d0d0d0;"></i>
                </button>
                <div id="myDropdown" class="mobile-homeHeaderNav transition">
                   
                        {% for page in site.pages %}{% if page.title contains "Site Home" %}
                    <div class="mobile-headerLinks transition"><a class="transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                        <span class="linkTitle">Home</span></a></div>{% endif %}{% endfor %}
                        
                    {% for page in site.pages %}{% if page.title contains "About" %}
                    <div class="mobile-headerLinks transition"><a class="transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                        <span class="linkTitle">About</span></a></div>
                    {% endif %}{% endfor %}
                    
                    {% for page in site.pages %}{% if page.title contains "Doctrines" %}
                    <div class="mobile-headerLinks dropdown">
                        <a class="dropbtn transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                            <span class="linkTitle">Bible Doctrines</span>
                        </a>
                    </div>{% endif %}{% endfor %}
                    
                    {% for page in site.pages %}{% if page.title contains "LightCity Teaching Resources" %}
                    <div class="mobile-headerLinks transition"><a class="transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                        
                        <span class="linkTitle">Resources</span></a>
                    </div>{% endif %}{% endfor %}
                    
                    {% for page in site.pages %}{% if page.title contains "Meeting Days" %}
                    <div class="mobile-headerLinks transition"><a class="transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                        <span class="linkTitle">Meeting Days</span></a></div>
                    {% endif %}{% endfor %}
                </div>
            </div>
        </div>
    </header>
</div>


<div id="desktopHeader">
    <header id="header" class="fixed-top">     
        <div id="homeHeader" class="bg-color bg-image">
            <div class="container">
                <div class="container-fluid-inner cms-clearfix">
                    <nav class="homeHeaderNav align-items">
                        <div class="churchLOGO">
                            <img class="churchLOGO-img" src="images/LightCityLOGO.jpg" height=" 40" alt="lightcity-LOGO">
                            <!-- <p class="header-links-li">Bible Study Website</p> -->
                        </div>
                        <div class="headerUL">           
                            <ul class="header-links">
                                <li class="header-links-li transition">
                                    {% for page in site.pages %}{% if page.title contains "Site Home" %}
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">Home</a>{% endif %}{% endfor %}
                                </li>
                                    
                                <li class="header-links-li transition">
                                    {% for page in site.pages %}{% if page.title contains "About" %}
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>{% endif %}{% endfor %}
                                </li>

                                {% for page in site.pages %}{% if page.title contains "Doctrines" %}
                                <li class="header-links-li transition">
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>{% endif %}{% endfor %}
                                </li>

                                <li class="header-links-li transition">
                                    {% for page in site.pages %}{% if page.title contains "LightCity Teaching Resources" %}
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">Resources</a>{% endif %}{% endfor %}
                                </li>

                                <li class="header-links-li transition">
                                    {% for page in site.pages %}{% if page.title contains "Meeting Days" %}
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">Meeting Days</a>{% endif %}{% endfor %}
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>
