{% include summaryHomeHead.html %}
<link type="text/css" href="../style/headerANDfooter.css" rel="stylesheet">
<link type="text/css" href="../style/lightcity-02.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/4c38acae5e.js" crossorigin="anonymous"></script>
</head>

<body class="fonts">
    {% include homeHeader-summary.html %}
    <div id="search-container" class="homeResources-grid-containter" style="margin: 20px 16px;padding: 16px;">
    {% include search-summaries.html %}
    </div>
    {{ content }}
    {% include contact-section-summary.html %}
    <script type="text/javascript" src="../script/victorScripts/dropDownMenu.js"></script>
    <script type="text/javascript" src="../script/victorScripts/recentposts.js"></script>
    <script type="text/javascript" src="../script/victorScripts/preload.js"></script>
    <script type="text/javascript" src="../script/victorScripts/generalscript.js"></script>
</body>

</html>