<header id="mobileHeader">
    <div class="bg-color bg-image">
        <div class="mobileHeaderNav">
            <div class="mobileLogoSize">
                {% for page in site.pages %}{% if page.title contains "LCTF" %}
                <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                    <img class="mobileLogo" src="images/LightCityLOGO.jpg" alt="lightcity-LOGO">
                </a>{% endif %}{% endfor %}
            </div>
            <!-- <form>
                <label for="search-input"></label>
                <input type="search" id="search-input" name="search-input">
                <button type="submit">Go</button>
            </form> -->
            <div>
                <div class="mobileControls">
                    <div class="mobileDropdown">
                        <button onclick="myFunction()" class="mobileButton" type="button">
                        </button>
                        <div id="myDropdown" class="myDropdown transition">
                            <div class="mobile-homeHeaderNav bg-image dropdown_menu-6">
                                <div class="mobile-headerLinks">
                                    {% for page in site.pages %}{% if page.title contains "LCTF" %}
                                    <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Main-Site</span>
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <div class="mobile-headerLinks transition">
                                    {% for page in site.pages %}{% if page.title contains "About Us" %}
                                    <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>About</span>
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <div class="mobile-headerLinks transition">
                                    {% for page in site.pages %}{% if page.title contains "Doctrines" %}
                                    <a class="linkTitle transition"
                                        href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>{{page.title}}</span>
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <div class="mobile-headerLinks transition">
                                    {% for page in site.pages %}{% if page.title contains "Teaching Summary" %}
                                    <a class="linkTitle transition"
                                        href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Summary</span>
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <div class="mobile-headerLinks transition">
                                    {% for page in site.pages %}{% if page.title contains "Categories" %}
                                    <a class="linkTitle transition"
                                        href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Categories</span>
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <div class="mobile-headerLinks transition">
                                    <a class="linkTitle transition" href="https://samuelawojuola.github.io/BibleApp-2">
                                        <span>Bible App</span>
                                    </a>
                                </div>
                                <div class="mobile-headerLinks transition">
                                    {% for page in site.pages %}{% if page.title contains "Bible Quiz" %}
                                    <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Bible Quiz</span>
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <div class="mobile-headerLinks transition">
                                    {% for page in site.pages %}{% if page.title contains "Join Us" %}
                                    <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Meeting Days</span>
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <button id="closeNavBar" class="closeNavBar">x</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<header id="desktopHeader">
    <div id="homeHeader" class="bg-color bg-image">
        <div class="container-fluid-inner">
            <nav class="homeHeaderNav">
                <div class="churchLOGO">
                    {% for page in site.pages %}{% if page.title contains "LCTF" %}
                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                        <img class="churchLOGO-img" src="images/LightCityLOGO.jpg" height=" 40" alt="lightcity-LOGO">
                    </a>{% endif %}{% endfor %}
                </div>
                <div class="headerUL">
                    <ul class="header-links">
                        <li class="header-links-li transition">
                            {% for page in site.pages %}{% if page.title contains "LCTF" %}
                            <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                <span>Main-Site</span>
                            </a>{% endif %}{% endfor %}
                        </li>
                        <li class="header-links-li transition">
                            {% for page in site.pages %}{% if page.title contains "About Us" %}
                            <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                <span>About</span>
                            </a>{% endif %}{% endfor %}
                        </li>
                        <li class="header-links-li transition">
                            {% for page in site.pages %}{% if page.title contains "Doctrines" %}
                            <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                <span>{{page.title}}</span>
                            </a>{% endif %}{% endfor %}
                        </li>
                        <li class="header-links-li transition">
                            {% for page in site.pages %}{% if page.title contains "Teaching Summary" %}
                            <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                <span>Summary</span>
                            </a>{% endif %}{% endfor %}
                        </li>
                        <li class="header-links-li transition">
                            {% for page in site.pages %}{% if page.title contains "Categories" %}
                            <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                <span>Categories</span>
                            </a>{% endif %}{% endfor %}
                        </li>
                        <li class="header-links-li transition">
                            <a class="iconLink transition" href="https://samuelawojuola.github.io/BibleApp-2">
                                <span>Bible App</span>
                            </a>
                        </li>
                        <li class="header-links-li transition">
                            {% for page in site.pages %}{% if page.title contains "Bible Quiz" %}
                            <a class="iconLink transition"
                                href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                <span>{{page.title}}</span>
                            </a>{% endif %}{% endfor %}
                        </li>
                        <li class="header-links-li transition">
                            {% for page in site.pages %}{% if page.title contains "Join Us" %}
                            <a class="iconLink transition"
                                href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                <span>Meeting Days</span>
                            </a>{% endif %}{% endfor %}
                        </li>
                    </ul>
                </div>
                <!-- <form>
                    <label for="search-input"></label>
                    <input type="search" id="search-input" name="search-input">
                    <button type="submit">Go</button>
                </form> -->
            </nav>
        </div>
    </div>
</header>