<link type="text/css" href="style/lightcity-01.css" rel="stylesheet">
<link type="text/css" href="../style/lightcity-01.css" rel="stylesheet">
<link type="text/css" href="../style/contact-section-sytle.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/4c38acae5e.js" crossorigin="anonymous"></script>
<style>
ol, ul{
	column-gap: 2em;
	column-width: 12em;
}
</style>
{% include AoY-head.html %} 
{{ content }}
<!-- {% include contact-section.html %} -->
</body>

</html>
