{% include homeHead.html %}
<link type="text/css" href="../style/reftaggerLightCity.css" rel="stylesheet">
<link type="text/css" href="../style/headerANDfooter.css" rel="stylesheet">
<link id="theme-stylesheet" type="text/css" href="../style/lightMODE.css" rel="stylesheet">
<link type="text/css" href="../style/darkMODE.css" rel="stylesheet">
<link type="text/css" href="../style/root.css" rel="stylesheet">
<link type="text/css" href="../style/lightcity-02.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/4c38acae5e.js" crossorigin="anonymous"></script>
</head>

<body class="fonts">
    <div class="loader-bg">
        <div class="loader"></div>
    </div>
    {% include homeHeader-section.html %}
    <div id="search-container" class="homeResources-grid-containter" style="margin: 20px 16px;padding: 16px;">
        {% include search-articles.html %}
    </div>
    <label class="switch" id="theme-toggle-container">
        <input type="checkbox" id="theme-toggle" />
        <span class="slider round">
            <!-- <i class="fas fa-sun" id="sun-icon"></i>
            <i class="fas fa-moon" id="moon-icon"></i> -->
            <p id="sun-icon">L</p>
            <p id="moon-icon">D</p>
        </span>
    </label>      
    {{ content }}
    {% include contact-section.html %}
    <script type="text/javascript" src="../script/victorScripts/lightANDdarkmode.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="../script/victorScripts/preload.js"></script>
    <script type="text/javascript" src="../script/victorScripts/dropDownMenu.js"></script>
    <script type="text/javascript" src="../script/victorScripts/recentposts.js"></script>
    <script type="text/javascript" src="../script/victorScripts/generalscript.js"></script>
    <script src="../data/LSJ Full.js"></script>
    <script src="../data/strongsObjectRoots.js"></script>
    <script src="../data/strongsObjectWithFamilies2.js"></script>
    <script src="../data/morphParse_GreeknHebrew.js"></script>
    <script src="../data/bibleApp_reKeyedCrossReference.js"></script>
    <script src="../script/reftaggerLightCity.js"></script>
    <script src="../script/bibleApp_transliteration.js"></script>
    <script src="../script/toggleH1toH6Siblings.js"></script>
    <script src="../script/TSK.js"></script>
    <script src="../script/interact.min.js"></script>
</body>
</html>