<section id="Intro-to-the-Website">
			<h1 class="titles">Intro to the Website</h1>
			<div class="prayer-text">
				<p style="margin-bottom: 0;">This is the official Bible Study Website of LightCity Teaching Fellowship. Please see the {% for page in site.pages %}{% if page.title contains "About Us" %}
                            <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">About Us </a>{% endif %}{% endfor %} page to know more about us.</p>
			</div>
</section>
