<div class="toggleAllHeaders">
    <p>Expand All</p>
    <div>
		<input type="checkbox" class="checkbox" id="toggleAllBtn" />
		<label class="label" for="toggleAllBtn">
			<span id="closeAll" onclick="hideOrShowAllHnum()" class="close"></span>
			<span id="openAll" onclick="hideOrShowAllHnum()" class="open"></span>
			<div class="ball"></div>
		</label>
	</div>
</div>
{{content}}
<div class="add_space"></div>
{% include contact-section.html %}
<script type="text/javascript" src="../script/victorScripts/recentposts.js"></script>
<script type="text/javascript" src="../script/victorScripts/dropDownMenu.js"></script>
{% include AoY-foot.html %}
