<link type="text/css" href="../style/headerANDfooter.css" rel="stylesheet">
<link type="text/css" href="../style/article-style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link type="text/css" href="../style/style_compareTable.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<style>
article h1, article h2, article h3, article h4, article h5, article h6 {
    display: grid;
    grid-template-columns: 3% 97%;
}
header>h1:first-of-type, div>h1:first-of-type, header>p {
    display: block;
}
@media only screen and (max-width: 912px) {
article h1, article h2, article h3, article h4, article h5, article h6 {
    grid-template-columns: 4% 96%;
}}
@media only screen and (max-width: 820px) {
article h1, article h2, article h3, article h4, article h5, article h6 {
    grid-template-columns: 4% 94%;
}}
@media only screen and (max-width: 540px) {
article h1, article h2, article h3, article h4, article h5, article h6 {
    grid-template-columns: 7% 93%;
}}
article>header>h1{
    display: block;
}
</style>
<body class="fonts">
    <div class="loader-bg">
        <div class="loader"></div>
    </div>
    <div class="header-container">
        <header id="mobileHeader">
            <div id="homeHeader" class="bg-color bg-image">
                <nav class="mobileHeaderNav">
                    <div class="mobileLogoSize">
                        {% for page in site.pages %}{% if page.title contains "LCTF" %}
                        <a
                            href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                            <img class="mobileLogo" src="../images/LightCityLOGO.jpg" alt="lightcity-LOGO">
                        </a>{% endif %}{% endfor %}
                    </div>
                    <div class="mobileControls">
                        <div class="mobileDropdown">
                            <button onclick="myFunction()" class="mobileButton" type="button"></button>
                            <div id="myDropdown" class="myDropdown transition">
                                <div class="mobile-homeHeaderNav bg-image dropdown_menu-6">
                                    <div class="mobile-headerLinks transition">
                                        {% for page in site.pages %} {% if page.title contains "LCTF" %}
                                        <a class="linkTitle transition"
                                            href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>Home</span>
                                        </a>{% endif %}{% endfor %}
                                    </div>
                                    {% if page %}
                                    {% assign categories = page.categories %}
                                    {% else %}
                                    {% assign categories = post.categories %}
                                    {% endif %}
                                    {% for category in categories %}
                                    {% capture category_name %}{{ category | prepend: 'HomePageArticle-' }}{% endcapture
                                    %}
                                    {% assign caty = category_name %}
                                    {% for page in site.pages %}
                                    {% if page.categories contains caty %}
                                    <div class="mobile-headerLinks transition">
                                        <a class="linkTitle transition"
                                            href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>{{category}}</span>
                                        </a>
                                    </div>
                                    {% unless forloop.last %}{% endunless %}
                                    {% endif %}{% endfor %}
                                    {% endfor %}
                                    <div class="mobile-headerLinks transition">
                                        <a class="linkTitle transition" href="samuelawojuola.github.io/BibleApp-2">
                                            <span>Bible App</span>
                                        </a>
                                    </div>
                                    <div class="mobile-headerLinks transition">
                                        {% for page in site.pages %}{% if page.title contains "Bible Quiz" %}
                                        <a class="linkTitle transition"
                                            href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>{{page.title}}</span>
                                        </a>{% endif %}{% endfor %}
                                    </div>
                                    <div class="mobile-headerLinks transition">
                                        {% for page in site.pages %}{% if page.title contains "Join Us" %}
                                        <a class="linkTitle transition"
                                            href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>Meeting Days</span>
                                        </a>{% endif %}{% endfor %}
                                    </div>
                                    <button id="closeNavBar" class="closeNavBar">x</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <header id="desktopHeader">
            <div id="homeHeader" class="bg-color bg-image">
                <div class="container-fluid-inner">
                    <nav class="homeHeaderNav">
                        <div class="mobileLogoSize">
                            {% for page in site.pages %}{% if page.title contains "LCTF" %}
                            <a
                                href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                <img class="mobileLogo" src="../images/LightCityLOGO.jpg" alt="lightcity-LOGO">
                            </a>{% endif %}{% endfor %}
                        </div>
                        <div class="headerUL">
                            <ul class="header-links">
                                <li class="header-links-li transition">
                                    {% for page in site.pages %} {% if page.title contains "LCTF" %}
                                    <a class="iconLink transition"
                                        href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">Home
                                    </a>{% endif %}{% endfor %}
                                </li>
                                {% if page %}
                                {% assign categories = page.categories %}
                                {% else %}
                                {% assign categories = post.categories %}
                                {% endif %}
                                {% for category in categories %}
                                {% capture category_name %}{{ category | prepend: 'HomePageArticle-' }}{% endcapture %}
                                {% assign caty = category_name %}
                                {% for page in site.pages %}
                                {% if page.categories contains caty %}
                                {% if page.layout == "cat-homepageTEMPLATE" %}
                                <li class="header-links-li transition">
                                    <a class="iconLink transition"
                                        href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{category}}
                                    </a>
                                </li>
                                {% unless forloop.last %}{% endunless %}
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                                <li class="header-links-li transition">
                                    <a class="iconLink transition" href="https://samuelawojuola.github.io/BibleApp-2">
                                        <span>Bible App</span>
                                    </a>
                                </li>
                                <li class="header-links-li transition">
                                    {% for page in site.pages %}{% if page.title contains "Bible Quiz" %}
                                    <a class="iconLink transition"
                                        href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>{{page.title}}</span>
                                    </a>{% endif %}{% endfor %}
                                </li>
                                <li class="header-links-li transition">
                                    {% for page in site.pages %}{% if page.title contains "Join Us" %}
                                    <a class="iconLink transition"
                                        href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Meeting Days</span>
                                    </a>{% endif %}{% endfor %}
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </div>