<div id="expandANDdate" class="container-fluid-inner">
	<div class="toggleAllHeaders">
		<p>Expand All</p>
		<div>
			<input type="checkbox" class="checkbox" id="toggleAllBtn" />
			<label class="label" for="toggleAllBtn">
				<span id="closeAll" onclick="hideOrShowAllHnum()" class="close"></span>
				<span id="openAll" onclick="hideOrShowAllHnum()" class="open"></span>
				<div class="ball"></div>
			</label>
		</div>
	</div>
</div>
<article class="homeResources-grid-containter container-fluid-inner">
	<small id="archive-date" class="archive-date" style="margin: 1em 0;">{{ page.date | date: "%a, %b %d, %y." }}</small>
	<main>
		{{content}}
	</main>
</article>
<div class="PageNavigation container-fluid-inner">
	{% assign sorted_post_pages = site.pages | sort: 'date' %}
	{% assign my_array = "" | split: ',' %}
	{% for page in sorted_post_pages %}
	{% if page.date and page.date != "" and page.date != nil %}
		{% assign my_array = my_array | push: page %}
	{% endif %}
	{% endfor %}
	{% assign current_page = page %}
	{% assign previous_page = nil %}
	{% assign next_page = nil %}
	{% assign found_current_page = false %}
	{% for page in my_array %}
	{% if page == current_page %}
		{% assign found_current_page = true %}
	{% elsif found_current_page %}
		{% assign next_page = page %}
		{% break %}
	{% else %}
		{% assign previous_page = page %}
	{% endif %}
	{% endfor %}
	{% if previous_page != nil %}
	<div class="all-links prev-link">
		<a href="{% if site.baseurl == "" %}{{previous_page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{previous_page.url}}{% endif %}">
			<p>&laquo; Previous article</p>
			{{ previous_page.title }}		
		</a>
	</div>
	{% endif %}
	{% if next_page != nil %}
	<div class="all-links next-link">
		<a href="{% if site.baseurl == "" %}{{next_page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{next_page.url}}{% endif %}">
			<p>Next article &raquo;</p>
			{{ next_page.title }}			
		</a>
	</div>
	{% endif %}
</div>
{% include contact-section.html %}
<script type="text/javascript" src="../script/victorScripts/dropDownMenu.js"></script>
<script type="text/javascript" src="../script/victorScripts/slideInscript.js"></script>
<script type="text/javascript" src="../script/H1-H6.Accordion-D.js"></script>
<script type="text/javascript" src="../script/scroll2head.js"></script>
<script type="text/javascript" src="../script/victorScripts/recentposts.js"></script>
<script type="text/javascript" src="../script/swipeDetect.js"></script>
<script src="../data/LSJ Full.js"></script>
<script src="../data/strongsObjectRoots.js"></script>
<script src="../data/strongsObjectWithFamilies2.js"></script>
<script src="../data/morphParse_GreeknHebrew.js"></script>
<script src="../data/bibleApp_reKeyedCrossReference.js"></script>
<script src="../script/reftaggerLightCity.js"></script>
<script src="../script/bibleApp_transliteration.js"></script>
<script src="../script/toggleH1toH6Siblings.js"></script>
<script src="../script/TSK.js"></script>
<script src="../script/interact.min.js"></script>
</body>
</html>