<section id="prayer-section">
	<div class="homeResources-grid-containter">
		<h1 class="titles">A Prayer for You</h1>
		<div class="prayer-text order-lg-2">
			<p style="margin-bottom: 0;">May God, the Only True God and Father of our Lord Jesus Christ, in the Holy Name of Jesus Christ His Son and Holy Servant strengthen your heart in His Truth.
			<br>
			May He give you a willing heart to obey Him and walk in all His ways.
			<br>
			May He give you a sincere and pure desire to know Him in Truth.
			<br>
			May He guard your heart and deliver you from the deception of the enemy.
			<br>
			May He grant you true devotion to Him, placing Him and His Truths above all other considerations.
			<br>
			May He give you a heart that trembles at His Word.
			<br>
			May He save you from lies and false doctrines of all kinds, mainstream and fringe, ancient and recent, obvious and subtle.
			<br>
			May He save you from the wayward wife who has left the Husband of her youth and may you never be numbered among her children.
			</p>
		</div>
	</div>
</section>