<header>
    <div id="homeHeader" class="bg-color bg-image">
        <div class="container-fluid-inner">
            <nav class="homeHeaderNav" style="display: flex;">
                <div class="churchLOGO">
                    {% for page in site.pages %}{% if page.title contains "LightCity Resources" %}
                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                        <img class="churchLOGO-img" src="images/LightCityLOGO.jpg" height=" 40" alt="lightcity-LOGO">
                    </a>{% endif %}{% endfor %}
                </div>
                <div class="headerUL">
                    <ul class="header-links">
                        <li class="header-links-li activeClass transition">
                            <span>Quick Links</span>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>