<div id="themeSettings" class="themeSettings">
    <div class="collapsible">Change Theme <i class="fas fa-solid fa-caret-right"></i></div>
    <ul class="content">
        <li class="antiqueWhite" color="antiquewhite">AntiqueWhite</li>
        <li class="blackPearl" color="#0d1117">BlackPearl</li>
        <li class="copperRose" color="#583d3d">CopperRose</li>
        <li class="crimson" color="crimson">Crimson</li>
        <li class="darkCyan" color="darkcyan">DarkCyan</li>
        <li class="darkPurple" color="#1a0f30">DarkPurple</li>
    </ul>
</div>
<div id="fontSettings" class="fontSettings">
    <div class="collapsible">Change Font <i class="fas fa-solid fa-caret-right"></i></div>
    <ul class="content" onclick="toggleFontList(event)">
        <li font="Arial"><p>Arial</p></li>
        <li font="calibri"><p>Calibri</p></li>
        <li font="cambria"><p>Cambria</p></li>
        <li font="candara"><p>Candara</p></li>
        <li font="courier new"><p>Courier New</p></li>
        <li font="'DynaPuff', cursive"><p>DynaPuff</p></li>
        <li font="franklin gothic medium"><p>Franklin Gothic Medium</p></li>
        <li font="Garamond"><p>Garamond</p></li>
        <li font="Georgia"><p>Georgia</p></li>
        <li font="Helvetica"><p>Helvetica</p></li>
        <li font="jaf-bernino-sans-condensed,sans-serif"><p>Jaf-bernino-sans-condensed</p></li>
        <li font="Marvel"><p>Marvel</p></li>
        <li font="Merriweather"><p>Merriweather</p></li>
        <li font="Perpetua"><p>Perpetua</p></li>
        <li font="poppins"><p>Poppins</p></li>
        <li font="System-ui"><p>System-ui</p></li>
        <li font="sans-serif"><p>Sans-serif</p></li>
        <li font="Times New Roman"><p>Times New Roman</p></li>
        <li font="Verdana"><p>Verdana</p></li>
        <!-- Add more font options as needed -->
    </ul>
</div>       
