<div id="themeSettings" class="themeSettings">
    <div class="collapsible">Change Theme <i class="fas fa-solid fa-caret-right"></i></div>
    <ul class="content">
        <li class="antiqueWhiteCssFile" color="antiquewhite"><p>AntiqueWhite</p></li>
        <li class="blackCssFile" color="#000"><p>Black</p></li>
        <li class="blackPearlCssFile" color="#0d1117"><p>BlackPearl</p></li>
        <li class="copperRoseCssFile" color="#583d3d"><p>CopperRose</p></li>
        <li class="crimsonCssFile" color="crimson"><p>Crimson</p></li>
        <li class="darkCyanCssFile" color="darkcyan"><p>DarkCyan</p></li>
        <li class="darkGreyCssFile" color="#212121"><p>darkGrey</p></li>
        <li class="darkPurpleCssFile" color="#1a0f30"><p>DarkPurple</p></li>
        <li class="whiteCssFile" color="white"><p>White</p></li>
    </ul>
</div>
<div id="fontSettings" class="fontSettings">
    <div class="collapsible">Change Font <i class="fas fa-solid fa-caret-right"></i></div>
    <ul class="content">
        <li font="Arial"><p>Arial</p></li>
        <li font="calibri"><p>Calibri</p></li>
        <li font="cambria"><p>Cambria</p></li>
        <li font="candara"><p>Candara</p></li>
        <li font="courier new"><p>Courier New</p></li>
        <li font="'DynaPuff', cursive"><p>DynaPuff</p></li>
        <li font="franklin gothic medium"><p>Franklin Gothic Medium</p></li>
        <li font="Garamond"><p>Garamond</p></li>
        <li font="Georgia"><p>Georgia</p></li>
        <li font="Helvetica"><p>Helvetica</p></li>
        <li font="jaf-bernino-sans-condensed,sans-serif"><p>Jaf-bernino-sans-condensed</p></li>
        <li font="Marvel"><p>Marvel</p></li>
        <li font="Merriweather"><p>Merriweather</p></li>
        <li font="Perpetua"><p>Perpetua</p></li>
        <li font="poppins"><p>Poppins</p></li>
        <li font="System-ui"><p>System-ui</p></li>
        <li font="sans-serif"><p>Sans-serif</p></li>
        <li font="Times New Roman"><p>Times New Roman</p></li>
        <li font="Verdana"><p>Verdana</p></li>
        <!-- Add more font options as needed -->
    </ul>
</div>       
