{% include QandA-head.html %}
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=DynaPuff' rel='stylesheet'>
<link type="text/css" href="../style/bibleQuizNoBG.css" rel="stylesheet">
<link id="darkPurpleCssFile" type="text/css" href="../style/bibleQuizBG-darkpurple.css" rel="stylesheet">
</head>

<body>
    <section id="cat-bibleQuiz" class="cat-bibleQuiz-section">
        {% include QandA-cat-header.html %}
        <section id="cat-bibleQuiz-inner" class="container-fluid-inner">
            <h1>BIBLE QUIZ</h1>
            <h5>TEST YOUR KNOWLEDGE ON:</h5>
            {{ content }}
            {% include QandA-cat-settings.html %}
        </section>
        <audio id="categorySound" src="../audio/categorySound.mp3" loop="true"></audio>
        <!-- <button id="pauseButtonCat">
            <i class="fas fa-volume-mute"></i>
          </button>
          <button id="playButtonCat">
              <i class="fas fa-volume-up"></i>
        </button> -->
        <audio id="clickSound" src="../audio/clickSound.mp3"></audio>
    </section>
</body>