<!-- DESKTOP VIEW -->
<!-- <div class="churchLOGO">
    {% for page in site.pages %}{% if page.title contains "LightCity Teaching Fellowship" %}
    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
        <img class="churchLOGO-img" src="../images/LightCityLOGO.jpg" height=" 40" alt="lightcity-LOGO">
    </a>{% endif %}{% endfor %}
</div> -->
<div id="headerbar" class="QandA-Board bg-color bg-image">
    <ul id="toolbAr1" class="toolbar flex">
        <ul class="flex">
            <li id="quizCatName">
                <span>{{page.title}}</span>
            </li>
            <li id="quizCatLink">
                {% for page in site.pages %}{% if page.title contains "Bible Quiz" %}
                    <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                        New Quiz
                    </a>{% endif %}{% endfor %}
            </li>
        </ul>
        <ul class="flex">
            <li id="prevquestionbutton" onclick="goToPreviousQuestion()" title="Previous Question">
                <span><i class="fas fa-solid fa-angle-left"></i>Prev</span>
            </li>
            <li id="nextquestionbutton" title="Next Question">
                <span>Next<i class="fas fa-solid fa-angle-right"></i></span>
            </li>
        </ul>
        <ul class="flex">
            <li id="questioncount" style="color: gray;" title="Question Counter">
                <span></span>
            </li>
            <!-- <li id="questiontimer" href="#" title="Timer for the Question">
                <span>00:23</span>
            </li> -->
            <li id="questionhint" onclick="showHint()" title="Hint for this question">
                <span><i class="icons fas fa-regular fa-lightbulb"></i>Hint</span>
            </li>
        </ul>
    </ul>
</div>