<div id="themeSettings" class="themeSettings">
    <div class="collapsible">Change Theme <i class="fas fa-solid fa-caret-right"></i></div>
    <ul class="content">
        <li class="antiqueWhiteCssFile" color="antiquewhite"><p>AntiqueWhite</p></li>
        <li class="blackCssFile" color="#000"><p>Black</p></li>
        <li class="blackPearlCssFile" color="#0d1117"><p>BlackPearl</p></li>
        <li class="copperRoseCssFile" color="#583d3d"><p>CopperRose</p></li>
        <li class="crimsonCssFile" color="crimson"><p>Crimson</p></li>
        <li class="darkCyanCssFile" color="darkcyan"><p>DarkCyan</p></li>
        <li class="darkGreyCssFile" color="#212121"><p>darkGrey</p></li>
        <li class="darkPurpleCssFile" color="#1a0f30"><p>DarkPurple</p></li>
        <li class="whiteCssFile" color="white"><p>White</p></li>
    </ul>
</div>
<div id="fontSettings" class="fontSettings">
    <div class="collapsible">Change Font <i class="fas fa-solid fa-caret-right"></i></div>
    <ul class="content">
        <li font="'Acme', sans-serif"><p>Acme</p></li>
        <li font="Arial"><p>Arial</p></li>
        <li font="calibri"><p>Calibri</p></li>
        <li font="cambria"><p>Cambria</p></li>
        <li font="'Candal', sans-serif"><p>Candal</p></li>
        <li font="candara"><p>Candara</p></li>
        <li font="'Cantarell', sans-serif"><p>Cantarell</p></li>
        <li font="'Cantata One', serif"><p>Cantata</p></li>
        <li font="'Cute Font', sans-serif"><p>Cute Font</p></li>
        <li font="'Courier Prime', monospace"><p>Courier Prime</p></li>
        <li font="'DynaPuff', system-ui"><p>DynaPuff</p></li>
        <li font="'EB Garamond', serif"><p>Garamond</p></li>
        <li font="'Geo', sans-serif"><p>Geo</p></li>
        <li font="'Georama', sans-serif"><p>Georama</p></li>
        <li font="'Georgia', serif"><p>Georgia</p></li>
        <li font="Helvetica"><p>Helvetica</p></li>
        <li font="'Inter', sans-serif"><p>Inter</p></li>
        <li font="'Marvel', sans-serif"><p>Marvel</p></li>
        <li font="'Merriweather', serif"><p>Merriweather</p></li>
        <li font="'Montserrat', sans-serif"><p>Montserrat</p></li>
        <li font="'Nanum Gothic', sans-serif"><p>Nanum Gothic</p></li>
        <li font="'Roboto Condensed', sans-serif"><p>Roboto</p></li>
        <li font="Perpetua Std"><p>Perpetua</p></li>
        <li font="'Poor Story', system-ui"><p>Poor Story</p></li>
        <li font="'Poppins', sans-serif"><p>Poppins</p></li>
        <li font="'Sofia', cursive"><p>Sofia</p></li>
        <li font="'Syne', sans-serif"><p>Syne</p></li>
        <li font="Times New Roman"><p>Times New Roman</p></li>
        <li font="Verdana"><p>Verdana</p></li>
    </ul>
</div>       
