<div class="cat-grid">
    {% for page in site.pages %}{% if page.title contains "AofY-Qs" %}
        <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
            Angel of Yahweh
        </a>{% endif %}{% endfor %}

        {% for page in site.pages %}{% if page.title contains "GenKnow-Qs" %}
        <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
            General Knowledge
        </a>{% endif %}{% endfor %}
        <a>Jesus</a>
        <a>Parables</a>
        <a>The Law</a>
        <a>The New Covenant</a>
        <a>The Two Falls</a>
</div>