<div id="catSettingsContent">
    <div class="catSettingsContentInner">
        <div id="catThemeSettings">
            <div class="collapsible">Change Theme <i class="fas fa-solid fa-angle-right"></i></div>
            <ul class="content">
                <li id="antiqueWhite">Antiquewhite</li>
                <li id="blackPearl">BlackPearl</li>
                <li id="crimson">Crimson</li>
                <li id="darkCyan">DarkCyan</li>
                <li id="darkPurple">DarkPurple</li>
            </ul>
        </div>
    </div>
    <hr>
    <div id="catAudioSettings">
        <span><i class="fas fa-volume-up"></i> Music:</span>
        <audio id="letsStart" src="../audio/categorySound.mp3" loop="true"></audio>
        <audio id="letsStartTwo" src="../audio/letsStart.mp3"></audio>
        <button id="playButtonCat">On
            <!-- <i class="fas fa-volume-up"></i> -->
        </button>
        <div class="vl"></div>
        <button id="pauseButtonCat">Off
        <!-- <i class="fas fa-volume-mute"></i> -->
        </button>
    </div>
</div>