{% include homeHead.html %}
<link type="text/css" href="../style/bibleQuiz.css" rel="stylesheet">
<link type="text/css" href="../style/lightcity-02.css" rel="stylesheet">

<script src="https://kit.fontawesome.com/4c38acae5e.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="../script/victorScripts/dropDownMenu.js"></script>
</head>
<body class="fonts">
    {% include homeHeader-section.html %}
    {% include QandA-Section.html %}
    {% include Quiz-Result.html %}
    {% include Corrected-Answers.html %}    
</body>