{% include QandA-head.html %}
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=DynaPuff' rel='stylesheet'>
<link type="text/css" href="../style/reftaggerLightCity.css" rel="stylesheet">
<!-- <link type="text/css" href="../style/bibleApp.css" rel="stylesheet">
<link type="text/css" href="../style/bibleApp-darkmode.css" rel="stylesheet"> -->
<link type="text/css" href="../style/bibleQuizNoBG.css" rel="stylesheet">
<link id="darkPurpleCssFile" type="text/css" href="../style/bibleQuizBG-darkpurple.css" rel="stylesheet">
</head>
<body>
    {% include QandA-Section.html %}
    {% include QandA-Quiz-Result.html %}
    {% include QandA-Corrected-Answers.html %}
    <script src="../script/interact.min.js"></script>
    <script src="../script/TSK.js"></script>
    <script src="../reftaggerLightCity.js"></script>
    <script src="../bibleApp_transliteration.js"></script>
    <script src="../data/LSJ Full.js"></script>
    <script src="../data/strongsObjectRoots.js"></script>
    <script src="../data/strongsObjectWithFamilies2.js"></script>
    <script src="../data/morphParse_GreeknHebrew.js"></script>
    <script src="../data/bibleApp_reKeyedCrossReference.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/4c38acae5e.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../script/victorScripts/recentposts.js"></script>
    <script type="text/javascript" src="../script/victorScripts/QandAscripts.js"></script>    
</body>