<div id="settingsReviewContent">
    <div class="settingsContentInner">
        <div id="themeSettings">
            <div class="collapsible">Change Theme <i class="fas fa-solid fa-caret-right"></i></div>
            <ul class="content">
                <li class="antiqueWhite">Antiquewhite</li>
                <li class="blackPearl">BlackPearl</li>
                <li class="copperRose">CopperRose</li>
                <li class="crimson">Crimson</li>
                <li class="darkCyan">DarkCyan</li>
                <li class="darkPurple">DarkPurple</li>
            </ul>
        </div>
        <div onclick="window.location.reload()">Restart Quiz</div>
        <div id="rules" onclick="showRules()">Quiz Rules</div>
    </div>
    <hr>
    <div id="audioSettings">
        <span><i class="fas fa-volume-up"></i> Music:</span>
        <button id="playButtonFromResult">On
            <!-- <i class="fas fa-volume-up"></i> -->
        </button>
        <div class="vl"></div>
        <button id="pauseButtonFromResult">Off
            <!-- <i class="fas fa-volume-mute"></i> -->
        </button>
    </div>
</div>
<div id="rulesContent">
    {% include QandA-aboutTWO-TEMPLATE.html %}
</div>