{% include QandA-head.html %}
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=DynaPuff' rel='stylesheet'>
<link type="text/css" href="../style/reftaggerLightCity.css" rel="stylesheet">
<!-- <link type="text/css" href="../style/bibleApp.css" rel="stylesheet">
<link type="text/css" href="../style/bibleApp-darkmode.css" rel="stylesheet"> -->
<link type="text/css" href="../style/bibleQuizNoBG.css" rel="stylesheet">
<link id="darkPurpleCssFile" type="text/css" href="../style/bibleQuizBG-darkpurple.css" rel="stylesheet">
</head>
<body>
    {% include QandA-Section2.html %}
    {% include QandA-Quiz-Result2.html %}
    {% include QandA-Corrected-Answers2.html %}    
</body>