<div id="catSettingsContent" class="newBG">
    <div class="catSettingsContentInner">
        {% include QandA-settings-fontAndTheme.html %}
    </div>
    <hr>
    <div id="catAudioSettings">
        <span><i class="fas fa-volume-up"></i> Music:</span>
        <audio id="letsStart" src="../audio/categorySound.mp3" loop="true"></audio>
        <audio id="letsStartTwo" src="../audio/letsStart.mp3"></audio>
        <button id="playButtonCat">On
            <!-- <i class="fas fa-volume-up"></i> -->
        </button>
        <div class="vl"></div>
        <button id="pauseButtonCat">Off
        <!-- <i class="fas fa-volume-mute"></i> -->
        </button>
    </div>
</div>