<aside class="col-lg-3 order-lg-2 content">
    <div class="sidebar container-fluid-inner homeResources-grid-containter">
        <div class="sidebar-wrapper">
            <div class="sidebar-wrapper-header">
                <h4 class="titles" title="Click me for More Latest Posts">
                    {% for page in site.pages %}{% if page.title contains "More Recent Posts" %}
                    <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}"
                        style="text-decoration: none!important;">
                        <span>Latest Posts</span>
                    </a>{% endif %}{% endfor %}
                </h4>
            </div>
            <ul class="recentposts">
                {% assign sorted-pages = site.pages | sort: 'date' | reverse %} {% assign my_array = "" | split: ',' %}
                {% for page in sorted-pages %} {% if page.date And page.date != "" And page.date != nil %} {% assign
                my_array = my_array | push: page %} {% endif %}
                {% endfor %} {% for page in my_array limit:5 %}
                <li><a class="link"
                        href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{
                        page.title }}
                        <br>
                        <small class="archive-date">{{ page.date | date_to_string }}.</small></a></li>
                {% endfor %}
            </ul>
            <div class="sidebar-wrapper-header">
                <h4 class="titles" title="Click me for all Links in Categories">
                    {% for page in site.pages %}{% if page.title contains "Study Resources" %}
                    <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}"
                        style="text-decoration: none!important;">
                        <span>Categories</span>
                    </a>{% endif %}{% endfor %}
                </h4>
            </div>
            <ul class="recentposts">
                {% assign counter = '0' %}
                {% for page in site.pages %}
                {% if page.layout == "cat-homepageTEMPLATE" and counter < '6' %} {% capture counter %}{{ counter | plus:'1' }}{% endcapture %}
                <li>
                    <a class="link" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                        {{ page.title }}
                    </a>
                </li>
                    {% endif %}
                    {% endfor %}
            </ul>
            <small title="Click me for all Links in Categories">
                {% for page in site.pages %}{% if page.title contains "Study Resources" %}
                <a class="titles-links" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                    <span>More categories</span>
                </a>{% endif %}{% endfor %}
            </small>
        </div>
    </div>
</aside>