<!-- <link type="text/css" href="/style/lightcity-02.css" rel="stylesheet"> -->
<link type="text/css" href="/style/article-style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link type="text/css" href="/style/style_compareTable.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body class="fonts">
    <nav id="homeHeader" class="bg-color bg-image">
        <div class="mobileHeaderNav">
            <div class="mobileLogoSize">
                {% for page in site.pages %}{% if page.title contains "Teaching Summary" %}
                <a
                    href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                    <img class="mobileLogo" src="../../../../../images/LightCityLOGO.jpg" alt="lightcity-LOGO">
                </a>{% endif %}{% endfor %}
            </div>
            <div class="mobileView">
                <div class="mobileControls">
                    <div class="mobileDropdown">
                        <button onclick="myFunction()" class="mobileButton" type="button"></button>
                        <div id="myDropdown" class="myDropdown transition">
                            <div class="mobile-homeHeaderNav bg-image dropdown_menu-6">
                                <div class="mobile-headerLinks transition">
                                    {% for page in site.pages %} {% if page.title contains "Teaching Summary" %}
                                    <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Home</span>
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <div class="mobile-headerLinks transition">
                                    {% if post %}
                                        {% assign categories = post.categories[0] %}
                                    {% else %}
                                        {% assign categories = page.categories[0] %}
                                    {% endif %}
                                    {% for category in categories %}
                                    <a class="linkTitle transition" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
                                    {% unless forloop.last %}&nbsp;{% endunless %}
                                    {% endfor %}
                                </div>
                                <div class="mobile-headerLinks transition">
                                    {% if post %}
                                        {% assign categories = post.categories[1] %}
                                    {% else %}
                                        {% assign categories = page.categories[1] %}
                                    {% endif %}
                                    {% for category in categories %}
                                    <a class="linkTitle transition" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
                                    {% unless forloop.last %}&nbsp;{% endunless %}
                                    {% endfor %}
                                </div>
                                <div class="mobile-headerLinks transition">
                                    <a class="linkTitle transition" href="samuelawojuola.github.io/BibleApp-2">
                                        <span>Bible App</span>
                                    </a>
                                </div>
                                <div class="mobile-headerLinks transition">
                                    {% for page in site.pages %}{% if page.title contains "Bible Quiz" %}
                                    <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>{{page.title}}</span>
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <div class="mobile-headerLinks transition">
                                    {% for page in site.pages %}{% if page.title contains "Join Us" %}
                                    <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Meeting Days</span>
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <button id="closeNavBar" class="closeNavBar">x</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="headerUL desktopView">
                <ul class="header-links">
                    <li class="header-links-li transition">
                        {% for page in site.pages %} {% if page.title contains "Teaching Summary" %}
                        <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">Home
                        </a>{% endif %}{% endfor %}
                    </li>
                    <li class="header-links-li transition">
                        {% if post %}
                            {% assign categories = post.categories[0] %}
                        {% else %}
                            {% assign categories = page.categories[0] %}
                        {% endif %}
                        {% for category in categories %}
                        <a class="iconLink transition" href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">{{category}}</a>
                        {% unless forloop.last %}&nbsp;{% endunless %}
                        {% endfor %}
                    </li>
                    <li class="header-links-li transition">
                        {% if post %}
                            {% assign categories = post.categories[1] %}
                        {% else %}
                            {% assign categories = page.categories[1] %}
                        {% endif %}
                        {% for category in categories %}
                        <a class="iconLink transition" href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">{{category}}</a>
                        {% unless forloop.last %}&nbsp;{% endunless %}
                        {% endfor %}
                    </li>
                    <li class="header-links-li transition">
                        <a class="iconLink transition" href="https://samuelawojuola.github.io/BibleApp-2">
                            <span>Bible App</span>
                        </a>
                    </li>
                    <li class="header-links-li transition">
                        {% for page in site.pages %}{% if page.title contains "Bible Quiz" %}
                        <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                            <span>{{page.title}}</span>
                        </a>{% endif %}{% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
