<div id="expandANDdate" class="container-fluid-inner"></div>
<article class="homeResources-grid-containter container-fluid-inner">
	<small id="archive-date" class="archive-date" style="margin: 1em 0;">{{ page.date | date: "%a, %b %d, %y." }}</small>
	<main>
		{{content}}
	</main>
</article>
<!-- <div class="add_space"></div> -->
<div class="PageNavigation container-fluid-inner">
	{% if page.previous.url %}
	<div class="all-links prev-link">
		<a href="{% if site.baseurl == "" %}{{page.previous.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.previous.url}}{% endif %}">
			<p>&laquo; Previous summary</p>
			{{page.previous.title}}			
		</a>
	</div>
		{% endif %}
	{% if page.next.url %}
	<div class="all-links next-link">
		<a href="{% if site.baseurl == "" %}{{page.next.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.next.url}}{% endif %}">
			<p>Next summary &raquo;</p>
			{{page.next.title}}			
		</a>
	</div>
		{% endif %}
</div>
{% include contact-section-summary.html %}
<script type="text/javascript" src="../script/victorScripts/dropDownMenu.js"></script>
<script type="text/javascript" src="../script/victorScripts/slideInscript.js"></script>
<script type="text/javascript" src="../script/victorScripts/recentposts.js"></script>
<script type="text/javascript" src="../script/swipeDetect.js"></script>
<script src="../data/LSJ Full.js"></script>
<script src="../data/strongsObjectRoots.js"></script>
<script src="../data/strongsObjectWithFamilies2.js"></script>
<script src="../data/morphParse_GreeknHebrew.js"></script>
<script src="../data/bibleApp_reKeyedCrossReference.js"></script>
<script src="../script/reftaggerLightCity.js"></script>
<script src="../script/bibleApp_transliteration.js"></script>
<script src="../script/toggleH1toH6Siblings.js"></script>
<script src="../script/TSK.js"></script>
<script src="../script/interact.min.js"></script>