<link type="text/css" href="../style/reftaggerLightCity.css" rel="stylesheet">
<link type="text/css" href="../style/style_compareTable.css" rel="stylesheet">
<link type="text/css" href="../style/headerANDfooter.css" rel="stylesheet">
<link type="text/css" href="../style/darkMODE.css" rel="stylesheet">
<link id="theme-stylesheet" type="text/css" href="../style/lightMODE.css" rel="stylesheet">
<link type="text/css" href="../style/root.css" rel="stylesheet">
<link type="text/css" href="../style/article-style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<script src="https://kit.fontawesome.com/4c38acae5e.js" crossorigin="anonymous"></script>
</head>

<body class="fonts">
    <div class="loader-bg">
        <div class="loader"></div>
    </div>
    <div class="header-container">
        <header id="mobileHeader">
            <div id="homeHeader" class="bg-color bg-image">
                <nav class="mobileHeaderNav container-fluid-inner">
                    <div class="mobileLogoSize">
                        {% for page in site.pages %}{% if page.title contains "Teaching-Summary" %}
                        <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                            <img class="mobileLogo" src="../images/LightCityLOGO.jpg" alt="lightcity-LOGO">
                        </a>{% endif %}{% endfor %}
                    </div>
                    <div class="mobileControls">
                        <div class="mobileDropdown">
                            <button onclick="myFunction()" class="mobileButton" type="button">
                            </button>
                            <div id="myDropdown" class="myDropdown transition">
                                <div class="mobile-homeHeaderNav active-link">
                                    <div class="group-cats">
                                        <p>summary categories</p>
                                        {% if post %}
                                        {% assign categories = post.categories %}
                                        {% else %}
                                        {% assign categories = page.categories %}
                                        {% endif %}
                                        {% for category in categories %}
                                        {% capture category_name %}{{ category | prepend: 'HomePage-' }}{% endcapture %}
                                        {% assign sumcaty = category_name %}
                                        {% for post in site.posts %}
                                        {% if post.categories contains sumcaty %}
                                        <div class="mobile-headerLinks transition">
                                            <a class="linkTitle transition ArtSumCatName active" href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">
                                                {{category}}
                                            </a>
                                        </div>
                                        {% unless forloop.last %}{% endunless %}
                                        {% endif %}{% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="mobile-headerLinks activeClass transition">
                                        {% for page in site.pages %} {% if page.title contains "Teaching-Summary" %}
                                        <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>Summaries</span>
                                        </a>{% endif %}{% endfor %}
                                    </div>
                                    <div class="mobile-headerLinks activeClass transition">
                                        {% for page in site.pages %} {% if page.title contains "LightCity-Teaching-Fellowship" %}
                                        <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>Articles</span>
                                        </a>{% endif %}{% endfor %}
                                    </div>
                                    <div class="mobile-headerLinks activeClass transition">
                                        {% for page in site.pages %}{% if page.title contains "Videos" %}
                                        <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>Videos</span>
                                        </a>{% endif %}{% endfor %}
                                    </div>
                                    <div class="mobile-headerLinks activeClass transition">
                                        {% for page in site.pages %}{% if page.title contains "Bible Quiz" %}
                                        <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>{{page.title}}</span>
                                        </a>{% endif %}{% endfor %}
                                    </div>
                                    <div class="mobile-headerLinks activeClass transition">
                                        <a class="linkTitle transition" href="samuelawojuola.github.io/BibleApp-2">
                                            <span>Bible App</span>
                                        </a>
                                    </div>
                                    <div class="mobile-headerLinks activeClass transition">
                                        {% for page in site.pages %}{% if page.title contains "Join-us" %}
                                        <a class="linkTitle transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                            <span>Meeting Days</span>
                                        </a>{% endif %}{% endfor %}
                                    </div>
                                    <button id="closeNavBar" class="closeNavBar">
                                        <div></div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <header id="desktopHeader">
            <div id="homeHeader" class="bg-color bg-image">
                <div class="container-fluid-inner">
                    <nav class="homeHeaderNav">
                        <div class="mobileLogoSize">
                            {% for page in site.pages %}{% if page.title contains "Teaching-Summary" %}
                            <a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                <img class="mobileLogo" src="../images/LightCityLOGO.jpg" alt="lightcity-LOGO">
                            </a>{% endif %}{% endfor %}
                        </div>
                        <div class="headerUL">
                            <div class="header-links active-link">
                                <div class="group-cats">
                                    <p>summary categories</p>
                                    {% if post %}
                                    {% assign categories = post.categories %}
                                    {% else %}
                                    {% assign categories = page.categories %}
                                    {% endif %}
                                    {% for category in categories %}
                                    {% capture category_name %}{{ category | prepend: 'HomePage-' }}{% endcapture %}
                                    {% assign sumcaty = category_name %}
                                    {% for post in site.posts %}
                                    {% if post.categories contains sumcaty %}
                                    <div class="header-links-li transition">
                                        <a class="iconLink transition ArtSumCatName active" href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">
                                            {{category}}
                                        </a>
                                    </div>
                                    {% unless forloop.last %}{% endunless %}
                                    {% endif %}{% endfor %}
                                    {% endfor %}
                                </div>
                                <div class="header-links-li activeClass transition">
                                    {% for page in site.pages %} {% if page.title contains "Teaching-Summary" %}
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        Summaries
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <div class="header-links-li activeClass transition">
                                    {% for page in site.pages %} {% if page.title contains "LightCity-Teaching-Fellowship" %}
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        Articles
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <div class="header-links-li activeClass transition">
                                    {% for page in site.pages %}{% if page.title contains "Videos" %}
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Videos</span>
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <div class="header-links-li activeClass transition">
                                    {% for page in site.pages %}{% if page.title contains "Bible Quiz" %}
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>{{page.title}}</span>
                                    </a>{% endif %}{% endfor %}
                                </div>
                                <div class="header-links-li activeClass transition">
                                    <a class="iconLink transition" href="https://samuelawojuola.github.io/BibleApp-2">
                                        <span>Bible App</span>
                                    </a>
                                </div>
                                <div class="header-links-li activeClass transition">
                                    {% for page in site.pages %}{% if page.title contains "Join-us" %}
                                    <a class="iconLink transition" href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">
                                        <span>Meeting Days</span>
                                    </a>{% endif %}{% endfor %}
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </div>