<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="uRTXPzervD8" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="E8F3vASGeEs" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="ghAQg4bqtMU" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="0Kj0CNcjpM4" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="hGRdncPQjvk" params="controls=1"></lite-youtube>
    </div>
</div>
<!-- <div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="_aEtwzAhl30" params="controls=1"></lite-youtube>
    </div>
</div> -->
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="y_uE0iSBjI4" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="8v_21QNT_UA" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="-p9YZ67XJ30" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="BzkJESW-CwQ" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="2nwgAul-0MY" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="UV_OZcAOleE" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="wplXzQglEL8" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="1X0vWNsmDb8" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="zR2Mnq0q9OM" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="bu_TQJjXerY" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="AeaovbZWog8" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="MeGCeNtXCSc" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="D70I1ViR7aE" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="_4aGaCkCAK8" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="4kgbbi-U9f0" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="mVVM4IkmL0k" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="-m_39Srdg0Q" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="GVpCnLTqkds" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="uZo0UBN7kjY" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="v6qBd3fHpnA" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="thWJ328OEVY" params="controls=1"></lite-youtube>
    </div>
</div>
<div class="video-box homeResources-grid-containter">
    <div class="iframe-container">
        <lite-youtube videoid="_RG_qKB0_ZQ" params="controls=1"></lite-youtube>
    </div>
</div>
