<div id="tab-content-1" class="container tab-pane active">
    <div class="videos-container-inner">
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="gMWeV_gKQ0k" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Prayers (Day1) - Special Meetings || 05th Oct. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="1ZNRrEcYiDQ" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">No Condemnation For Those In Christ - LightCity Wednesday Bible Study || 04th Oct. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="nhH-0NZEdIY" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Worship&Prayers - LightCity Wednesday Bible Study || 04th Oct. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="v6qBd3fHpnA" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Prayer Meeting - LightCity Monday Prayer Meeting || 2nd Oct. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="jEAhOhHXltY" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Summaries of Teachings so Far (Atonement Summarized) - LightCity Sunday Fellowship || 1st Oct. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="ZiDqc5QLcYw" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Hebrews 8-9 Overview - LightCity Wednesday Bible Study || 27th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="g6Uld1QPU5Q" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Worship&Prayers - LightCity Wednesday Bible Study || 27th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="thWJ328OEVY" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Prayer Meeting (Hebrews 7 Overview) - LightCity Monday Prayer Meeting || 25th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="8ln0BxycR2U" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Hebrews 6-7 Overview - LightCity Sunday Fellowship || 24th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="spV2O0QersI" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Worship&Prayers - LightCity Sunday Fellowship || 24th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="Aivvj2CefBw" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Psalms 8 - LightCity Wednesday Bible Study || 20th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="flRkMREfW1A" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Why the Priests wore a HeadCovering - LightCity Wednesday Bible Study || 20th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="HRo8cjRr1oU" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Worship&Prayers - LightCity Wednesday Bible Study || 20th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="_RG_qKB0_ZQ" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Prayer Meeting - LightCity Monday Prayer Meeting || 18th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="KMkHnp0Djo8" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Full Meeting - LightCity Sunday Fellowship || 17th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="qJqnP-JN_3Q" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Worship&Prayers - LightCity Sunday Fellowship || 17th Sept. 2023.</h3>
        </div>
</div>
</div>