<div id="tab-content-5" class="container tab-pane fade">
    <div class="videos-container-inner">
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="GB-BJa-iFWM" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Prayers (Day 2) - Special Meetings || 06th Oct. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="gMWeV_gKQ0k" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Prayers (Day 1) - Special Meetings || 05th Oct. 2023.</h3>
        </div>
    </div>
</div>