<div id="Sunday-Tab-content" class="videotab-content">
    {% include videosSUNDAY.html %}
</div>


<!-- <div class="video-box homeResources-grid-containter" video-title="Prayer Meeting - LightCity Monday Prayer Meeting || Mon, May 20, 2024." date-posted="Mon, May 20, 2024" categorytab="Monday">
    <h3 class="video-title">Prayer Meeting - LightCity Monday Prayer Meeting || <span class="video-date">Mon, May 20, 2024.</span></h3></div>
    <div class="video-box homeResources-grid-containter" video-title="What is the Truth? &amp; 1 John (Reading) - LightCity Sunday Fellowship || Sun, May 19, 2024." date-posted="Sun, May 19, 2024" categorytab="Sunday">
    <h3 class="video-title">What is the Truth? &amp; 1 John (Reading) - LightCity Sunday Fellowship || <span class="video-date">Sun, May 19, 2024.</span></h3></div>

    now i want to use attribute "categoryTap" and if the value is found in "Monday-Tab3-content", if there is a match, then clone that video-box into "Monday-Tab3-content" div -->