<div id="tab-content-3" class="container tab-pane fade">
    <div class="videos-container-inner">
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="v6qBd3fHpnA" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Prayer Meeting - LightCity Monday Prayer Meeting || 2nd Oct. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="thWJ328OEVY" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Prayer Meeting (Hebrews 7 Overview) - LightCity Monday Prayer Meeting || 25th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="_RG_qKB0_ZQ" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Prayer Meeting - LightCity Monday Prayer Meeting || 18th Sept. 2023.</h3>
        </div>
    </div>
</div>