<div id="tab5-content" class="videotab-content">
    <div class="videos-container-inner">
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="GB-BJa-iFWM" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="gMWeV_gKQ0k" params="controls=1"></lite-youtube>
            </div>
        </div>
    </div>
</div>