<div id="tab-content-2" class="container tab-pane fade">
    <div class="videos-container-inner">
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="UjrHaVztUBo" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">[prt1] The Holy Spirit (John 6 Reading) - LightCity Sunday Fellowship || 08th Oct. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="BPo-VMlasAA" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Worship&Prayers - LightCity Sunday Fellowship || 08th Oct. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="v6qBd3fHpnA" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Summaries of Teachings so Far (Atonement Summarized) - LightCity Sunday Fellowship || 1st Oct. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="v6qBd3fHpnA" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Hebrews 6-7 Overview - LightCity Sunday Fellowship || 24th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="spV2O0QersI" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Worship&Prayers - LightCity Sunday Fellowship || 24th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="KMkHnp0Djo8" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Full Meeting - LightCity Sunday Fellowship || 17th Sept. 2023.</h3>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="qJqnP-JN_3Q" params="controls=1"></lite-youtube>
            </div>
            <h3 class="video-title">Worship&Prayers - LightCity Sunday Fellowship || 17th Sept. 2023.</h3>
        </div>
    </div>
</div>