<div id="tab4-content" class="videotab-content">
    <div class="videos-container-inner">
        <div id="video-box" class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="o89AYDO8_QI" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div id="video-box" class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="slUB-Egjyw4" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div id="video-box" class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="Zf_uS95OqYE" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div id="video-box" class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="maVitPMfcww" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div id="video-box" class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="Fo4qJqcBZmc" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div id="video-box" class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="iUmoKamScEg" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div id="video-box" class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="FGKroSG0W2k" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="RhEejQ5Cwqs" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="1ZNRrEcYiDQ" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="nhH-0NZEdIY" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="ZiDqc5QLcYw" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="g6Uld1QPU5Q" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="Aivvj2CefBw" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="flRkMREfW1A" params="controls=1"></lite-youtube>
            </div>
        </div>
        <div class="video-box homeResources-grid-containter">
            <div class="iframe-container">
                <lite-youtube videoid="HRo8cjRr1oU" params="controls=1"></lite-youtube>
            </div>
        </div>
    </div>
</div>