---
layout: cat-homepageTEMPLATE
title: "The LAW"
categories: ["HomePage-The LAW"]
---
<style>
	ol, ul{
		column-gap: 2em;
		column-width: 12em;
	}
	</style>
	<div class="homeBody-section container-fluid-inner" style="min-height: 75vh;">
	<h1 class="titles">The LAW</h1>
	<p>A collection of Useful Resources</p>

	<ol id="nav">
	        {% for page in site.pages %}{% if page.categories contains "The LAW" %}<li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
            {% endif %}{% endfor %}
    </ol>
	</div>
	{% include contact-section.html %}
	<script type="text/javascript" src="../script/victor'sScripts/dropDownMenu.js"></script>