table,p,li{
    font-family: 'Nunito Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.65!important;
    text-align: left!important;
}
    p,li{
    font-family: 'Nunito Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400!important;
    font-size: 20px!important;
    line-height: 1.65!important;
    text-align: left!important;
}
p,li,h1,h2,h3,h4,h5,h6{
    margin: 1em 0.5em;
}

header > h1:first-of-type {
    font-size: 2.649690125em;
    padding-top: .50em;
    border-bottom: 2px solid grey;
  }
  div > h1:first-of-type {
    font-size: 2.649690125em;
    padding-top: .50em;
    border-bottom: 2px solid grey;
  }
h1 {
    font-size: 1.949690125em;
}
h2 {
    font-size: 1.749690125em;
}
h3 {
    font-size: 1.349690125em;
}
  @media only screen and (max-width: 760px){
    header > h1:first-of-type {
        font-size: 2.249690125em;
    }
    div > h1:first-of-type {
        font-size: 2.249690125em;
    }  
    h1,h2 {
        font-size: 1.549690125em;
    }
    h3 {
        font-size: 1.149690125em;
    }
    }
 
h1:first-child,table{
    margin: 1em 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}
table{
    margin: 1em 0.5em;
}