---
layout: cat-homepageTEMPLATE-summary
title: "2 Corinthians"
permalink: /2 Corinthians/
categories: ["HomePage-Book-of-2Corinthians"]
---
<style>
	div>ol {
		/* list-style-type: upper-alpha; */
		padding-left: 1.5em;
	}

	div>ol>ol {
		padding-left: 20px;
		padding-top: 10px;
		column-gap: 4em;
		column-width: 24em;
	}
</style>
<div class="homeBody-section">
	<div class="container-fluid-inner">
		<div class="homeResources-grid-containter">
	<h1 class="titles">{{ page.title }}</h1>
	<p>A collection of our Teaching Summaries for the Book of 2Corinthians.</p>
		<ol>
			{% for post in site.categories.Book-of-2Corinthians %}
			<li class="all-links">
				<a href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">{{ post.title }}</a> &nbsp; <span class="archive-date-summary">{{ post.date | date: "%a, %b %d, %y" }}.</span>
			</li>
				{% endfor %}
		</ol>
</div>
</div>
</div>