---
layout: cat-homepageTEMPLATE
title: "Bible Commentaries"
categories: ["HomePage-Bible Commentaries"]
---
<style>
	div>ol {
		list-style-type: numeric;
		padding-left: 1.5em;
	}

	div>ol>ol {
		padding-left: 20px;
		padding-top: 10px;
		column-gap: 4em;
		column-width: 24em;
	}
</style>

<div class="homeBody-section container-fluid-inner">
	<h1 class="titles">Bible Commentaries</h1>
	<p>A collection of our Study on Bible Books</p>
	<div>
		<h2>OLD TESTAMENT</h2>
		<ol>
			{% assign booksarray = "Genesis,Exodus,Leviticus,Numbers,Deuteronomy,Joshua,Judges,Ruth,1 Samuel,2 Samuel,1
			Kings,2 Kings,1 Chronicles,2 Chronicles,Ezra,Book of Nehemiah,Esther,Job,Psalms,Proverbs,Ecclesiastes,The
			Song of
			Solomon,Isaiah,Jeremiah,Lamentations,Ezekiel,Daniel,Hosea,Joel,Amos,Obadiah,Jonah,Micah,Nahum,Habakkuk,Zephaniah,Haggai,Zechariah,Malachi"|split:','
			%}

			{% for biblebook in booksarray %}
			{% for page in site.pages %}
			{% if page.categories contains "Bible Commentaries" %}
			{% if page.subsection contains biblebook %}
			<li>
				{% for page in site.pages %}
				{% if page.categories contains "Bible Commentaries" %}
				{% if page.subsection contains biblebook %}
				<h4>{{ page.subsection }}</h4>
				<ol id="nav">
					{% break %}
					{% endif %}
					{% endif %}
					{% endfor %}

					{% for page in site.pages %}
					{% if page.categories contains "Bible Commentaries" %}
					{% if page.subsection contains biblebook %}
					<li><a
							href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>
					</li>
					{% endif %}
					{% endif %}
					{% endfor %}
				</ol>
			</li>
			{% break %}
			{% endif %}
			{% endif %}
			{% endfor %}
			{% endfor %}
		</ol>

		<h2>NEW TESTAMENT</h2>
		<ol>
			{% assign booksarray = "Matthew,Mark,Luke,John,Acts,Romans,1 Corinthians,2
			Corinthians,Galatians,Ephesians,Philippians,Colossians,1 Thessalonians,2 Thessalonians,1 Timothy,2
			Timothy,Titus,Philemon,Hebrews,James,1 Peter,2 Peter,1 John,2 John,3 John,Jude,Revelation"|split:',' %}

			{% for biblebook in booksarray %}
			{% for page in site.pages %}
			{% if page.categories contains "Bible Commentaries" %}
			{% if page.subsection contains biblebook %}
			<li>
				{% for page in site.pages %}
				{% if page.categories contains "Bible Commentaries" %}
				{% if page.subsection contains biblebook %}
				<h4>{{ page.subsection }}</h4>
				<ol id="nav">
					{% break %}
					{% endif %}
					{% endif %}
					{% endfor %}

					{% for page in site.pages %}
					{% if page.categories contains "Bible Commentaries" %}
					{% if page.subsection contains biblebook %}
					<li><a
							href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>
					</li>
					{% endif %}
					{% endif %}
					{% endfor %}
				</ol>
			</li>
			{% break %}
			{% endif %}
			{% endif %}
			{% endfor %}
			{% endfor %}
		</ol>
	</div>
</div>
{% include contact-section.html %}
<script type="text/javascript" src="../script/victorScripts/dropDownMenu.js"></script>
<script type="text/javascript" src="../script/victorScripts/recentposts.js"></script>
</body>

</html>