---
layout: cat-homepageTEMPLATE
title: "Jesus"
categories: ["HomePage-Jesus"]
---
<style>
	div > ol {	
		list-style-type: upper-alpha;
	}
	div > ol > ol {	
		padding-left: 20px;
		padding-top: 10px;
		column-gap: 4em;
		column-width: 24em;
	}
	</style>

	<div class="homeBody-section container-fluid-inner">
	<h1 class="titles">Jesus</h1>
	<p>A collection of Useful Resources on Jesus</p>

	<ol>
		<li><h4>Jesus and the Angel of Yahweh</h4></li>
		<ol id="nav">
				{% for page in site.pages %}
				{% if page.categories contains "Jesus" %}
				{% if page.subsection contains "Jesus and the Angel of Yahweh" %}
				<li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
				{% endif %}
				{% endif %}
				{% endfor %}
		</ol>

		<li><h4>Trinity</h4></li>
		<ol id="nav">
			{% for page in site.pages %}
			{% if page.categories contains "Jesus" %}
			{% if page.subsection contains "Trinity" %}
			<li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
			{% endif %}
			{% endif %}
			{% endfor %}
		</ol>
</ol>
	</div>
	{% include contact-section.html %}
	<script type="text/javascript" src="../script/victorScripts/dropDownMenu.js"></script>
	<script type="text/javascript" src="../script/victorScripts/recentposts.js"></script>