---
layout: cat-homepageTEMPLATE
title: "General Resources"
categories: ["HomePage-General_Resources"]
---
<style>
	ol, ul{
		column-gap: 2em;
		column-width: 12em;
	}
	div > ol > ol {	
		padding-left: 20px;
		padding-top: 10px;
		column-gap: 4em;
		column-width: 24em;
	}
	</style>
	<div class="homeBody-section container-fluid-inner" style="min-height: 75vh;">
	<h1 class="titles">General Resources</h1>
	<p>A collection of Useful Resources</p>

	<ol id="nav">
	        {% for page in site.pages %}{% if page.categories contains "General_Resources" %}<li><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a></li>
            {% endif %}{% endfor %}
    </ol>
	</div>
	{% include contact-section.html %}
	<script type="text/javascript" src="../script/victor'sScripts/dropDownMenu.js"></script>
